<br>
<br>
<br>
<link href="/css/dev.css" rel="stylesheet">
<div class="container">
<div id="toc"></div>
<h1><span class="image-ppap oi oi-wrench"></span>更新履歴</h1>
<br>
<div class="container">
  <h2 class="mark">Version</h2>
  <div class="container">
    WEB <%= @server_version %><br>
    UI 0.2.0<br>
    LIB 1.0.1<br>
    VoiceLIB 0.0.7<br>
  </div>
</div>
<br>

<div class="container">
  <h2 class="mark">Source</h2>
  <div class="container">
    <h4><a href="/source"><span class="oi oi-cloud-download"></span>Get Source</a></h4>
  </div>
</div>
<br>

<div class="container">
  <h2 class="mark">API</h2>
  <div class="container">
    <h4><a href="/api"><span class="oi oi-script"></span>API</a></h4>
  </div>
</div>
<br>

<div class="container">
  <h2 class="mark">ToDo</h2>
  <div class="container">
    <s>* レイアウトの調整</s><br>
    <s>* レイアウトのモバイル対応</s><br>
    <s>* タグ機能[検索]</s><br>
    <s>* 通知の正規表現対応</s><br>
    <s>* 辞書から用語の補完</s><br>
    <s>* ユーザ検索語から用語の補完</s><br>
    <s>* ストリーミング通知条件(正規表現)のプリセット</s><br>
    <s>* トップページにユーザ用の更新情報掲載</s><br>
    <s>* 検索範囲の見直し</s><br>
    <s>* 参照用のURLジェネレーターモデル作成</s><br>
    <s>* グラフ関係,統計関係のAPI作成</s><br>
    <s>* JSON,CSV出力化 (APIでの実装)</s><br>
    <s>* デプロイの手順公開</s><br>
    <s>* オープンソース化</s><br>
    * ヘルプの書き直し<br>
    * 開発の引き継ぎ<br>
  </div>
  <br>
</div>
<br>

<div class="container">
  <h2 class="mark">README</h2>
  <div class="container">
    <%= @readme  %>
  </div>
  <br>
</div>
<br>

<div class="container">
  <h2 class="mark">テストツール</h2>
  <div class="container">
    <a href="/testing">Testing Tools</a>
  </div>
  <br>
</div>
<br>

<div class="container">
  <h2 class="mark">バージョン表記</h2>
  <div class="container">
    <span class="badge badge-primary">青色</span>リリース版<br>
    <span class="badge badge-danger">赤色</span>プレ版<br>
    <span class="badge badge-warning">黄色</span>テスト版<br>
  </div>
  <br>
</div>
<br>

<div class="container">
<h2 class="mark">最新,過去の履歴</h2>

<h4><span class="badge badge-primary">Version 7.2.0</span></h4>
<div class="container">
  * itemdropのAPI対応<br>
    ぱぱみら for GUIのアイテム辞書ツール対応のためです<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 7.1.0</span></h4>
<div class="container">
  * your_shopのAPI対応<br>
    ぱぱみら for GUIのクラウド露店機能対応のためです<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 7.0.2</span></h4>
<div class="container">
  * URL指定の日付ごとの叫びまとめが上手く表示されない不具合を修正した<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 7.0.1</span></h4>
<div class="container">
  * Ruby 2.5.1対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 7.0.0</span></h4>
<div class="container">
  * 最新のパケット構造に対応した<br>
  * middle構成の変更した<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.7.2</span></h4>
<div class="container">
  * middle構成の変更した<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.7.1</span></h4>
<div class="container">
  * bugfix 検索時に表示される日付リンクの参照用URLが正しく表示できるように修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.7.0</span></h4>
<div class="container">
  * bugfix 参照用個別URLのAPI修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.6.12</span></h4>
<div class="container">
  * middle構成の変更した<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.6.11</span></h4>
<div class="container">
  * LiveChatの欄を高解像度用に調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.6.10</span></h4>
<div class="container">
  * ストリーミングのonline,offlineステータス表示場所変更<br>
  * ストリーミングのレイアウト変更<br>
  * ストリーミングのマッチテキストエリアのフォーカス挙動変更<br>
  * 一部のTOPページ機能をAPIに移動させた<br>
  * リファクタリングをした<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.6.9</span></h4>
<div class="container">
  * 統計グラフのTimeout調整とローディングテキスト追加した<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.6.8</span></h4>
<div class="container">
  * 雄叫び,各鯖ストリーミングでツール類を隠せるようにした<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.6.7</span></h4>
<div class="container">
  * PPAP,ストリーミングのレイアウトを変更した<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.6.6</span></h4>
<div class="container">
  * 正規表現組み立てツールに通知キーワードに追記を追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.6.5</span></h4>
<div class="container">
  * 全体のレイアウトを変更した<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.6.4</span></h4>
<div class="container">
  * 各鯖ストリーミングに表示ストリーム最大件数設定を追加<br>
  最大件数以降の叫びは古い順に削除されていく.デフォルト300件<br>
  * ストリーミング表示時にキーワードマッチした場合のエフェクトを修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.6.3</span></h4>
<div class="container">
  * 正規表現組み立てツールの数値表現ツールをマージ<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.6.2</span></h4>
<div class="container">
  * 正規表現組み立てツールのAND出力を調整<br>
  * HELPのマージ<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.6.1</span></h4>
<div class="container">
  * 正規表現組み立てツールのレイアウトを変更<br>
  * HELPのマージ<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.6.0</span></h4>
<div class="container">
  * 統計情報,グラフ関係のAPIを実装<br>
  * ストリーミングの設定類で関係ない項目を非表示とした<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.5.0</span></h4>
<div class="container">
  * 統計情報,グラフ関係をAPIに移動<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.4.7</span></h4>
<div class="container">
  * LiveChatのレイアウト変更<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.4.6</span></h4>
<div class="container">
  * バージョンアップ通知をリロードするまで消せなくした<br>
  * /ppap タグとHELPの位置を変更<br>
  * ストリーミングの音量調整レイアウトを変更<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.4.5</span></h4>
<div class="container">
  * ストリーミングの設定類をモーダルダイアログに各種設定として移動させた<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.4.4</span></h4>
<div class="container">
  * メニューバーのPPAPにcursorを合わせるとヒトリゴト言うようした<br>
    辞書は追加予定.<br>
  * HTMLの構文を見直した<br>
  * 各鯖ストリーミングの自動削除を200件とし,全鯖ストリーミングは300件とした<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.4.3</span></h4>
<div class="container">
  * グラフのカレンダー選択時G鯖の色がおかしかったので修正<br>
  * ストリーミング表示時にエフェクトを追加<br>
  * トップ画面を軽くした.css+image<br>
  * httpなリンクをhttpsに修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.4.2</span></h4>
<div class="container">
  * クリップボードモードをデフォルトオフとして,フリーモードをオンとした<br>
  * LiveChatのレイアウト調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.4.1</span></h4>
<div class="container">
  * 検索用語補完の読み込みcookieが間違っていたので修正<br>
    何度読み込んでも前回の設定が読み込まれない状態<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.4.0</span></h4>
<div class="container">
  * ユーザ検索語からの検索用語の補完対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.3.0</span></h4>
<div class="container">
  * /stream, /all_streamにクリップボードにコピー機能,組み立てツールに送る機能追加<br>
    動作について悩み中な機能<br>
  * モーダル検索,正規表現組み立てツールアイコンのレイアウト調整<br>
  * /ppap タグ検索 にクレストを追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.2.7</span></h4>
<div class="container">
  * /ppap, /stream, /all_streamのリファクタリング<br>
  * /apiのリンクを/devに移動した<br>
  * middle構成の変更した<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.2.6</span></h4>
<div class="container">
  * update 参照用個別URLのAPIを拡張した<br>
    ex: /v/ss/2018/01/01/1-10,100-102,105 等に範囲指定できるようにした
</div>
<br>

<h4><span class="badge badge-primary">Version 6.2.5</span></h4>
<div class="container">
  * update 参照用個別URLのAPIを拡張した<br>
    ex: /v/ss/2018/01/01/1を/v/ss/2018/01/01/1-10等に範囲指定できるようにした
</div>
<br>

<h4><span class="badge badge-primary">Version 6.2.4</span></h4>
<div class="container">
  * update 各鯖のおたけびのタグ検索,カレンダーの名前欄に参照用個別URLを作成するようにした<br>
    6.1.7で実装したAPIとURLを利用<br>
    6.2.0で実装した全鯖ストリーミングに機能をマージ<br>
    6.2.2で実装した各鯖ストリーミングに機能をマージ<br>
    6.2.3で実装した各鯖おたけびに機能をマージ<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.2.3</span></h4>
<div class="container">
  * update 各鯖のおたけびの名前欄に参照用個別URLを作成するようにした<br>
    6.1.7で実装したAPIとURLを利用<br>
    6.2.0で実装した全鯖ストリーミングの機能をマージ<br>
    6.2.2で実装した各鯖ストリーミングの機能をマージ<br>
    おたけびのタグ検索はまだ未対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.2.2</span></h4>
<div class="container">
  * 参照用個別URLをselect_shoutからssに変更<br>
    select_shout or ss どちらでも良いようにした<br>
  * 過去の使われていない互換URLを削除した<br>
  * スクロールアップ次のアイコン表示を変更<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.2.1</span></h4>
<div class="container">
  * update 全鯖ストリーミングの名前欄に参照用個別URLを作成するようにした<br>
    6.1.7で実装したAPIとURLを利用しています<br>
    6.2.0で実装した全鯖ストリーミングの機能をマージしました<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 6.2.0</span></h4>
<div class="container">
  * update 全鯖ストリーミングの名前欄に参照用個別URLを作成するようにした [test1]<br>
    6.1.7で実装したAPIとURLを利用しています<br>
    <br>
  * update DB記録と各クライアント送信の順序を逆にして叫びのINDEXを取得するようにした [test1]<br>
    接続中の各クライアントにストリームを送信してからDBに保存していましたが,叫びのINDEX取得のため処理を逆にしました<br>
    <br>
  * bugfix search_name,search_body DBに記録していたので記録しなくした<br>
    明らかな2重登録だったので削除しました<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.1.8</span></h4>
<div class="container">
  * select_shoutのAPI対応<br>
    使い方は/api参照<br>
  * select_shoutのサイト側の対応<br>
    ex: /s/select_shout/2018/01/01/1<br>
    ex: /b/select_shout/2018/01/01/10<br>
    ex: /v/select_shout/2018/01/01/100<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.1.7</span></h4>
<div class="container">
  * 送受信JSONデータの最適化を行いました<br>
  JSONデータ作成時目視できるようにしていたので,JSON.pretty_generateからJSON.generateに変更しました<br>
  <br>
  * 正規表現組み立てツールの１つ戻すボタンを拡張<br>
  ボタン操作に加えて直接入力した場合も記録して戻すようにした<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.1.6</span></h4>
<div class="container">
  * ストリーミング通知時の文字サイズを大きくした<br>
  h4タグからh2タグに変更しています<br>
  <br>
  * ストリーミング通知時に画像も追記するようにした<br>
  テーブル内にPPAP画像を表示します。<br>
  <br>
  * 各ページのLiveレイアウトを更新<br>
  サイズの統一等を行っています<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.1.5</span></h4>
<div class="container">
  * 正規表現組み立てツールのNOTボタンの動作を修正<br>
  * モーダル検索、雄叫び、ストリーミングのレイアウトを調整<br>
  * ストリーミングのボリュームレイアウトを調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.1.4</span></h4>
<div class="container">
  * 正規表現組み立てツールのレイアウト調整<br>
  * 正規表現組み立てツールのリファクタリング<br>
  * 各ストリーミングでHELPリンクが作動しなかったので修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.1.3</span></h4>
<div class="container">
  * 各ストリーミングページの正規表現組み立てツールレイアウト調整<br>
  * bugfix regular_tools not work prefix,suffix<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.1.2</span></h4>
<div class="container">
  * 各お叫びから別タブで開くHELPリンクを追加<br>
  * 各ストリーミングから別タブで開くHELPリンクを追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.1.1</span></h4>
<div class="container">
  * 各ストリーミングページの正規表現組み立てツールレイアウト調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.1.0</span></h4>
<div class="container">
  * 各ストリーミングページに正規表現組み立てツールを追加<br>
  * 各ストリーミングページのキーワードプリセットの一部を削除<br>
  * 全体の接続人数が減って表示されるので修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.0.1</span></h4>
<div class="container">
  * WebSpeech辞書の更新<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 6.0.0</span></h4>
<div class="container">
  * リファクタリング<br>
  * 公開ソース更新<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.12.0</span></h4>
<div class="container">
  * ストリーミング 通知音源の指定対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.11.1</span></h4>
<div class="container">
  * ストリーミング 通知,再生音量バーのレイアウトの調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.11.0</span></h4>
<div class="container">
  * bootstrap 4.0.0 and poppler 1.3.0next対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.10.0</span></h4>
<div class="container">
  * ストリーミング 通知,再生音量の調整対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.9.8</span></h4>
<div class="container">
  * ストリーミング VoiceAPIが再生されなかったので修正<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.9.7</span></h4>
<div class="container">
  * ストリーミング 通知音量,VoiceAPI音量のレンジ対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.9.6</span></h4>
<div class="container">
  * ストリーミング 通知キーワードのプリセット挙動修正し上書きとした<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.9.5</span></h4>
<div class="container">
  * ストリーミング 通知キーワードのプリセット追加<br>
    AND,OR,NOT
</div>
<br>

<h4><span class="badge badge-primary">Version 5.9.4</span></h4>
<div class="container">
  * Webテストツール追加 for devel<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.9.3</span></h4>
<div class="container">
  * リファクタリング<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.9.2</span></h4>
<div class="container">
  * /help 目次追加<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.9.1</span></h4>
<div class="container">
  * Ruby 2.5.0対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.9.0</span></h4>
<div class="container">
  * ストリーミング 通知キーワードのプリセット追加<br>
  * /help 更新<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.21</span></h4>
<div class="container">
  * /help 更新<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.8.20</span></h4>
<div class="container">
  * marge /help<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.8.19</span></h4>
<div class="container">
  * 各鯖ストリーミングのWebSpeech(Voice)に辞書追加<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.8.18</span></h4>
<div class="container">
  * 全鯖ストリーミングのWebSpeech(Voice)に辞書追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.17</span></h4>
<div class="container">
  * 各鯖ストリーミングのWebSpeech(Voice)の調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.16</span></h4>
<div class="container">
  * リファクタリング<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.15</span></h4>
<div class="container">
  * 統計データのキャッシュを修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.14</span></h4>
<div class="container">
  * /ppap インクタグ追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.13</span></h4>
<div class="container">
  * /ppap タグの初期化調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.12</span></h4>
<div class="container">
  * /ppap テイムタグ追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.11</span></h4>
<div class="container">
  * /ppap タグが正常に表示されなかったので修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.10</span></h4>
<div class="container">
  * 変更されたURLの互換性保持<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.9</span></h4>
<div class="container">
  * おたけびをAPI対応<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.8.8</span></h4>
<div class="container">
  * おたけびをAPI対応(pre2)<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.8.7</span></h4>
<div class="container">
  * おたけびをAPI対応(pre1)<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.6</span></h4>
<div class="container">
  * 全鯖ストリーミングをAPI対応<br>
  * Ruby 2.4.3対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.5</span></h4>
<div class="container">
  * トップページのmemcached対応<br>
  * 雄叫び,各鯖ストリーミング初期ページのmemcached対応<br>
  * 全鯖ストリーミング初期ページのmemcached対応<br>
  * API初期化を1度だけとした<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.4</span></h4>
<div class="container">
  * 検索ワードをAPIに移行<br>
  * ランキングをAPIに移行<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.3</span></h4>
<div class="container">
  * 全鯖ストリーミングでのサーバ指定をcookie対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.2</span></h4>
<div class="container">
  * 各鯖ストリーミングにVoiceオプション追加<br>
    (WebSpeechAPIでの再生を追加 for devel)<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.8.1</span></h4>
<div class="container">
  * 全鯖ストリーミングに追加したVoiceオプションのcookie処理修正<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.8.0</span></h4>
<div class="container">
  * 全鯖ストリーミングにVoiceオプション追加<br>
    (WebSpeechAPIでの再生を追加 for devel)<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.7.2</span></h4>
<div class="container">
  * 叫び統計ページのB鯖リンク修正<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.7.1</span></h4>
<div class="container">
  * 雄叫びにカレンダ機能統合した<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.7.0</span></h4>
<div class="container">
  * タグに各種代行追加して,かけら出しと別けた<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.6.9</span></h4>
<div class="container">
  * カレンダーの調整<br>
  * CSSで利用するイメージデータの移動<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.6.8</span></h4>
<div class="container">
  * limit値調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.6.7</span></h4>
<div class="container">
  * レイアウト調整<br>
  * リファクタリング<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.6.6</span></h4>
<div class="container">
  * リファクタリング<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.6.5</span></h4>
<div class="container">
  * キーワード検索の入力補完が動かなかったので修正<br>
  * お問い合わせフォーム 項目追加<br>
  * /ppap 初期ロードを調整<br>
  * リファクタリング<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.6.4</span></h4>
<div class="container">
  * /calendar 日付制限を設けた 14日以降は名前を非表示<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.6.3</span></h4>
<div class="container">
  * /ppap 日付制限を設けた 14日以降は名前を非表示<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.6.2</span></h4>
<div class="container">
  * 統計データでエラーになるため修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.6.1</span></h4>
<div class="container">
  * 2日以上前の叫びは時間を削除した<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.6.0</span></h4>
<div class="container">
  * キーワード検索の範囲を縮小<br>
    1000件を300件<br>
    90日を14日<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.5.3</span></h4>
<div class="container">
  * jquery3 対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.5.2</span></h4>
<div class="container">
  * 統計データから60日を削除<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.5.1</span></h4>
<div class="container">
  * Navレイアウト更新<br>
  * /ppap,キーワード検索のInputにクリアボタン追加<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.5.0</span></h4>
<div class="container">
  * jquery等,各種ライブラリの更新<br>
  * 全鯖ストリーミングのキーワードチェックにサーバカテゴリ追加<br>
  * 検索の調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.4.4</span></h4>
<div class="container">
  * お問い合わせ用フォーム 内容修正追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.4.3</span></h4>
<div class="container">
  * お問い合わせ用フォーム 調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.4.2</span></h4>
<div class="container">
  * お問い合わせ用フォーム 色調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.4.1</span></h4>
<div class="container">
  * 検索の高負荷時の処理追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.4.0</span></h4>
<div class="container">
  * お問い合わせ用のフォーム追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.3.5</span></h4>
<div class="container">
  * タグ検索 タグ追加と検索内容調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.3.4</span></h4>
<div class="container">
  * タグ検索 キャッシュキーの修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.3.3</span></h4>
<div class="container">
  * ストリーミングのレイアウト調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.3.2</span></h4>
<div class="container">
  * 雄叫びのレイアウト変更<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.3.1</span></h4>
<div class="container">
  * 雄叫びのタグ検索をデフォルト非表示<br>
  * Update middle<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 5.3.0</span></h4>
<div class="container">
  * タグ検索をお叫びに統合<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.2.4</span></h4>
<div class="container">
  * 検索条件にNOT対応 否定マッチが出来ないので修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.2.3</span></h4>
<div class="container">
  * アップデートチェックの調整<br>
  * VoiceファイルのBuffer最大値を30まで大きくした<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.2.2</span></h4>
<div class="container">
  * アップデートチェックの調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.2.1</span></h4>
<div class="container">
  * キーワード検索 展開された検索語にエラーチェック追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.2.0</span></h4>
<div class="container">
  * 各種 ツールチップ追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.1.6</span></h4>
<div class="container">
  * デスクトップ通知 ログストリーミングのマッチを選択できるようにした<br>
    名前+本文 or 名前 or 本文<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.1.6</span></h4>
<div class="container">
  * タグ検索 キャッシュ時間を300秒に変更<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.1.5</span></h4>
<div class="container">
  * キーワード検索 数値範囲指定対応その6 最小上がり幅を指定できるようにした<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.1.4</span></h4>
<div class="container">
  * キーワード通知のマッチ情報を別データとした<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.1.3</span></h4>
<div class="container">
  * キーワード通知のマッチ範囲から日付を削除<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.1.2</span></h4>
<div class="container">
  * キーワード検索 数値範囲指定で1000以上は除外する<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.1.1</span></h4>
<div class="container">
* キーワード検索 数値範囲指定対応その6 複数の条件に対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.1.0</span></h4>
<div class="container">
* デスクトップ通知 ログストリーミングの通知を正規表現でマッチするように変更<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.0.7</span></h4>
<div class="container">
* キーワード検索 数値範囲指定対応その5 小数点マッチ修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.0.6</span></h4>
<div class="container">
* キーワード検索 数値範囲指定対応その4 小数点対応<br>
* キーワード検索 数値範囲指定対応その3 前後の数値以外にマッチ<br>
* キーワード検索 数値範囲指定対応その2 先頭文字の調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.0.5</span></h4>
<div class="container">
* 数値範囲指定対応 先頭文字の調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.0.4</span></h4>
<div class="container">
* モジュール整理時に音声再生チェックライブラリを削除してたので再度追記<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.0.3</span></h4>
<div class="container">
* キーワード検索時の検索範囲から日時を削除<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.0.2</span></h4>
<div class="container">
* キーワード検索に数値範囲指定の調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.0.1</span></h4>
<div class="container">
* キーワード検索時の必要ない値の削除<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 5.0.0</span></h4>
<div class="container">
* papamira-webのソースコード公開<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.17</span></h4>
<div class="container">
* キーワード検索に数値範囲指定追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.16</span></h4>
<div class="container">
* キーワード検索の全角半角英数字を半角大文字対応をタグ検索にもマージ<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.15</span></h4>
<div class="container">
* キーワード検索の全角半角英数字を半角大文字対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.14</span></h4>
<div class="container">
* 検索の初期値変更<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.13</span></h4>
<div class="container">
* 必要ないコード,ライブラリの削除<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.12</span></h4>
<div class="container">
* タグ検索の調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.11</span></h4>
<div class="container">
* /topの変更 検索を追加<br>
* /helpの変更<br>
* /apiの変更<br>
* 不要なファイル削除<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.10</span></h4>
<div class="container">
* タグ検索の修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.9</span></h4>
<div class="container">
* タグ検索の項目修正,追加<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.9.8</span></h4>
<div class="container">
* キーワード検索で括弧とOR条件対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.7</span></h4>
<div class="container">
* キーワード検索をnot対応の修正<br>
* /downloadにLicense追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.6</span></h4>
<div class="container">
* タグ検索の修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.5</span></h4>
<div class="container">
* /help 更新<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.4</span></h4>
<div class="container">
* キーワード検索で半角カタカナが検索されないので修正その2<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.3</span></h4>
<div class="container">
* キーワード検索で半角カタカナが検索されないので修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.9.2</span></h4>
<div class="container">
* キーワード検索時に全角半角の区別をなくした<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.9.1</span></h4>
<div class="container">
* タグ検索にプログレスバー追加<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.9.0</span></h4>
<div class="container">
* 検索条件にNOT追加<br>
* ヘルプ更新<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.8.13</span></h4>
<div class="container">
* タグ検索の変更<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.8.12</span></h4>
<div class="container">
* タグ検索結果のソート対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.8.11</span></h4>
<div class="container">
* 検索項目のtagを大きくした<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.8.10</span></h4>
<div class="container">
* 検索項目のtag実装<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.8.9</span></h4>
<div class="container">
* /SERVER/search の削除<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.8.8</span></h4>
<div class="container">
* 名前のハッシュ値から戻す<br>
* 検索の範囲縮小<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.8.7</span></h4>
<div class="container">
* ストリーミングから名前のリンクを削除 その2<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.8.6</span></h4>
<div class="container">
* 検索タグ調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.8.5</span></h4>
<div class="container">
* 名前をハッシュ値に変更<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.8.4</span></h4>
<div class="container">
* 雄叫びから名前を削除<br>
* ストリーミングから名前のリンクを削除<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.8.3</span></h4>
<div class="container">
* 検索ダイアログの全鯖検索時はG鯖を除外<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.8.2</span></h4>
<div class="container">
* 検索ダイアログの全鯖検索の表示を調整<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.8.1</span></h4>
<div class="container">
* LiveChatを/ppapとマージ調整<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.8.0</span></h4>
<div class="container">
* LiveChatを/ppapとマージ<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.7.5</span></h4>
<div class="container">
* へるぷ更新<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.7.4</span></h4>
<div class="container">
* 検索項目にtagsを追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.7.3</span></h4>
<div class="container">
* Navレイアウト更新<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.7.2</span></h4>
<div class="container">
* ストリームの文字サイズ指定の調整その2<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.7.1</span></h4>
<div class="container">
* ストリームの文字サイズ指定の調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.7.0</span></h4>
<div class="container">
* ストリームの文字サイズ指定追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.6.11</span></h4>
<div class="container">
* LiveChatステータス表示の調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.6.10</span></h4>
<div class="container">
* CSSの調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.6.9</span></h4>
<div class="container">
* お叫びに更新時間の設定追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.6.8</span></h4>
<div class="container">
* LiveChatの通知チェック削除<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.6.7</span></h4>
<div class="container">
* テーブルの表示色等の調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.6.6</span></h4>
<div class="container">
* ストリーミングの画面レイアウトの調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.6.5</span></h4>
<div class="container">
* ストリーミングの画面レイアウトの調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.6.4</span></h4>
<div class="container">
* elementのエラー修正<br>
* 赤飯削除おつ<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.6.3</span></h4>
<div class="container">
* テーブルボーダー削除<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.6.2</span></h4>
<div class="container">
* テーブルボーダー追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.6.1</span></h4>
<div class="container">
* テーブルのマージンの変更対応<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.6.0</span></h4>
<div class="container">
* テーブルレイアウトの変更<br>
* 検索ダイアログが動かなかったので修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.5.5</span></h4>
<div class="container">
* LiveChatのcache修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.5.4</span></h4>
<div class="container">
* アップデートチェックのsyntaxエラー修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.5.3</span></h4>
<div class="container">
* アップデートチェックの調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.5.2</span></h4>
<div class="container">
* アップデートチェックのtypo修正<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.5.1</span></h4>
<div class="container">
* ストリーミングのレイアウト調整<br>
* 不要なアップデートチェックの削除<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.5.0</span></h4>
<div class="container">
* アップデートチェック追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.4.11</span></h4>
<div class="container">
* LiveChatを新着表示調整<br>
* フォントサイズ調整<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.4.10</span></h4>
<div class="container">
* LiveChatを通知から変更<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.4.9</span></h4>
<div class="container">
* LiveChatの表示修正<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.4.8</span></h4>
<div class="container">
* ストリーミングの調整<br>
* LiveChatの通知追加<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.4.7</span></h4>
<div class="container">
* コア部分のリファクタリング<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.4.6</span></h4>
<div class="container">
* ライブチャットを非表示にした時にストリーム画面を大きくした<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.4.5</span></h4>
<div class="container">
* ライブチャットをデフォルト隠すようにした<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.4.4</span></h4>
<div class="container">
* チャットのレイアウト調整 その3<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.4.3</span></h4>
<div class="container">
* チャットのレイアウト調整 その2<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.4.2</span></h4>
<div class="container">
* チャットのレイアウト調整 その1<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.4.1</span></h4>
<div class="container">
* チャット機能について/helpに追記<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.4.0</span></h4>
<div class="container">
* チャット機能と各鯖ストリーミングをマージ.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.3.1</span></h4>
<div class="container">
* チャットをwebsocket対応.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.3.0</span></h4>
<div class="container">
* チャット機能とALLストリーミングをマージ.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.2.2</span></h4>
<div class="container">
* メッセージ欄のDB読み込み調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.2.1</span></h4>
<div class="container">
* メッセージ欄のレイアウト修正.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.2.0</span></h4>
<div class="container">
* middlePGでIPアドレスを指定できるように変更.<br>
* middlePG Ver 1.0.0<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.1.9</span></h4>
<div class="container">
* 検索ページのレイアウト調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.1.8</span></h4>
<div class="container">
* トップページのレイアウト調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.1.7</span></h4>
<div class="container">
* ストリーミングのelement調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.1.6</span></h4>
<div class="container">
* /ppapの検索オプション追加.<br>
* /ppapからの検索は全件検索を削除.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.1.5</span></h4>
<div class="container">
* 検索ダイアログでの検索で2回リクエストが流れていたので調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.1.4</span></h4>
<div class="container">
* headのmetaタグ削除.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.1.3</span></h4>
<div class="container">
* ストリーミング画面のツールチップ修正.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.1.2</span></h4>
<div class="container">
* エラーページ表示時のdebug追加.<br>
* /helpに赤飯追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.1.1</span></h4>
<div class="container">
* papamira_hitpointのmemcached対応.<br>
* html_elementの訂正.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.1.0</span></h4>
<div class="container">
* Papamiraの残りHPをTop画面に表示.<br>
* Top画面のレイアウト調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.0.7</span></h4>
<div class="container">
* Top画面のレイアウト調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.0.6</span></h4>
<div class="container">
* 全体のGlyphfonts見直し.<br>
* 旧Glyphfonts削除.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 4.0.5</span></h4>
<div class="container">
* ナビゲーションメニューのレイアウト調整.<br>
* 検索ダイアログのフッターを削除.<br>
* autocomplete調整.<br>
* Topページの画像回転.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.0.4</span></h4>
<div class="container">
* 検索時の日付リンクを修正.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.0.3</span></h4>
<div class="container">
* Homeレイアウト変更.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.0.2</span></h4>
<div class="container">
* ラベル対応.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.0.1</span></h4>
<div class="container">
* 全鯖ストリーミング時のラベル対応.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 4.0.0</span></h4>
<div class="container">
* UIモジュールアップデート.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.4.1</span></h4>
<div class="container">
* 検索機能に全鯖検索追加.<br>
* 検索時におたけび検索欄も更新される不具合修正.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.4.0</span></h4>
<div class="container">
* 検索機能に日付絞り込み追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.3.5</span></h4>
<div class="container">
* 検索時のウィジェット調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.3.4</span></h4>
<div class="container">
* 検索の表示パフォーマンス調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.3.3</span></h4>
<div class="container">
* 検索に件数指定を追加.<br>
* 検索結果に日付リンクを追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.3.2</span></h4>
<div class="container">
* 検索にプログレスバーをとりあいず追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.3.1</span></h4>
<div class="container">
* ストリーミング結果が検索に上がってくる不具合修正.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.3.0</span></h4>
<div class="container">
* 検索をナビゲーションバーに追加した.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.2.2</span></h4>
<div class="container">
* Voiceのチェック時にBufferを初期化するようにした.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.2.1</span></h4>
<div class="container">
* API修正: /api/v1/search_shout<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.2.0</span></h4>
<div class="container">
* VoiceLIB v0.0.5.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.2.0</span></h4>
<div class="container">
* 0秒の音声は通知しなくした.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.1.2</span></h4>
<div class="container">
* Voiceの最後にウェイト時間追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.1.1</span></h4>
<div class="container">
* Voice用の辞書の分離. <br>
* VoiceLIB v0.0.4.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.1.1</span></h4>
<div class="container">
* Voice用の辞書追加.<br>
* VoiceLIB v0.0.2.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.1.1</span></h4>
<div class="container">
* Voice用の辞書追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.1.0</span></h4>
<div class="container">
* Voiceが多重再生される場合はスタックして順々に再生するように調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.0.6</span></h4>
<div class="container">
* Voiceが多重再生される場合の調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.0.5</span></h4>
<div class="container">
* Voiceをトップ画面で再生しなくした.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.0.4</span></h4>
<div class="container">
* Voiceフォーマットをoggからmp3に変更(iPhone対応).<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.0.3</span></h4>
<div class="container">
* Voice調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.0.2</span></h4>
<div class="container">
* Voice調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.0.1</span></h4>
<div class="container">
* Voice作成時0バイトのデータは無視するようにした.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 3.0.0</span></h4>
<div class="container">
* S,B,V鯖StreamingにVoice追加.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 2.7.1</span></h4>
<div class="container">
* 3鯖StreamingのVoiceを連続再生時は重ならないようにした.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 2.7.0</span></h4>
<div class="container">
* 3鯖StreamingにVoice追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.6.1</span></h4>
<div class="container">
* titleにBadge追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.6.0</span></h4>
<div class="container">
* Streamingのタグレイアウトの調整.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.5.3</span></h4>
<div class="container">
* API追加: /api/v1/search_name<br>
* middle構成変更.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.5.2</span></h4>
<div class="container">
* GoldEX鯖で検索が出来なかったので修正.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.5.1</span></h4>
<div class="container">
* middle構成変更.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.5.0</span></h4>
<div class="container">
* All Log Streamingを1000件から削除を500件から削除に変更.<br>
* middle構成変更.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.4.6</span></h4>
<div class="container">
* middle構成変更.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.4.5</span></h4>
<div class="container">
* middle構成変更.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.4.4</span></h4>
<div class="container">
* middle構成変更.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 2.4.3</span></h4>
<div class="container">
* middle構成変更.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.4.2</span></h4>
<div class="container">
* カレンダーのレイアウト修正.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.4.1</span></h4>
<div class="container">
* Homeの整理.<br>
* へるぷ追記.<br>
* API追加: /api/v1/server_alive<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.4.0</span></h4>
<div class="container">
* あるか不明だけど金鯖対応.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.3.3</span></h4>
<div class="container">
* ホームの配色調整.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 2.3.2</span></h4>
<div class="container">
* extra実装 for API devel.<br>
* API2つ追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.3.1</span></h4>
<div class="container">
* おすすめわーどの閾値変更.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 2.3.0</span></h4>
<div class="container">
* middleの更新.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.2.0</span></h4>
<div class="container">
* 統計に本日追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.1.1</span></h4>
<div class="container">
* 絞り込み検索におすすめわーどを対応.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.1.0</span></h4>
<div class="container">
* 検索に絞り込み機能を追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 2.0.0</span></h4>
<div class="container">
* 気になるわーど追加.<br>
* Homeレイアウト変更.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 1.8.13</span></h4>
<div class="container">
* 新しいスキーマ追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.8.12</span></h4>
<div class="container">
* 各鯖鯖統計にcache処理の追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.8.11</span></h4>
<div class="container">
* cache処理の改善.<br>
  統計の1日,1Week以外は24時間のcacheとした.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.8.10</span></h4>
<div class="container">
* バックグラウンド通知時のフラグ修正.アイコンの光るタイミングが変わった.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.8.9</span></h4>
<div class="container">
* デスクトップ通知のアイコン追加.<br>
* バックグラウンドでの通知時にタイトルバーにカウント数表示.<br>
</div>
<br>

<h4><span class="badge badge-danger">Version 1.8.8</span></h4>
<div class="container">
* デスクトップ通知フラグ変更.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.8.7</span></h4>
<div class="container">
* デスクトップ通知サウンドを変更.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.8.6</span></h4>
<div class="container">
* デスクトップ通知アイコンを変更.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.8.5</span></h4>
<div class="container">
* ランキング表示が更新されないので修正.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.8.4</span></h4>
<div class="container">
* HTMLエラー修正.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.8.3</span></h4>
<div class="container">
* 通常のfavicon変更.<br>
* 通知時のfavicon.ico変更.<br>
* Homeの画像修正.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.8.2</span></h4>
<div class="container">
* 雄叫びランキングを1時間毎に更新するように変更.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.8.1</span></h4>
<div class="container">
* 雄叫びランキングのレイアウト修正.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.8.0</span></h4>
<div class="container">
* 雄叫びランキング追加.
</div>
<br>

<h4><span class="badge badge-danger">Version 1.7.6</span></h4>
<div class="container">
* extra実装 for devel.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.7.5</span></h4>
<div class="container">
* 3鯖ストリーミングの初期表示件数を30x3鯖に変更.<br>
* PPAP,Streaming,Calender,infoのサーバ名をラベル表示に変更.<br>
* Homeのふきだし調整.<br>
* ヘルプの更新.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.7.4</span></h4>
<div class="container">
* layoutファイルの変更.<br>
* ヘルプの更新.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.7.3</span></h4>
<div class="container">
* ナビゲーションバーのレイアウトの変更.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.7.2</span></h4>
<div class="container">
* APIページのレイアウトの変更.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.7.1</span></h4>
<div class="container">
* develページのレイアウトの変更.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.7.0</span></h4>
<div class="container">
* レイアウトの変更.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.6.2</span></h4>
<div class="container">
* Layout調整.<br>
* 3鯖ストリーミングのサーバタグを変更.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.6.1</span></h4>
<div class="container">
* BootstrapThemeをHonokaに変更.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.6.0</span></h4>
<div class="container">
* BootstrapThemeをUmiに変更.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.5.1</span></h4>
<div class="container">
* TopをHomeに記述変更.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.5.0</span></h4>
<div class="container">
* 検索時のオートコンプリートをデフォルトオフとした.<br>
  また,ACのチェックボックスで切り替え追加.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.4.1</span></h4>
<div class="container">
* リンクされたお名前の項目からの検索は,別Windowを開くように変更.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.4.0</span></h4>
<div class="container">
* API追加: /api/v1/search_shout<br>
* 検索結果を一部API+jsに移行<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.3.2</span></h4>
<div class="container">
* ppap, streamの初期ページデータ読み込みの修正.<br>
  その日の叫びをやめて,最終叫びを表示するようにした.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.3.1</span></h4>
<div class="container">
* トップ行きのスクロールボタン追加.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.3.0</span></h4>
<div class="container">
* 3鯖雄叫びストリーミングの表示サイズを無制限から1000件に変更.<br>
  自動で画面上から削除される.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.2.6</span></h4>
<div class="container">
* API修正: /api/v1/random_shout<br>
  空データを返すことがあった.<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.2.5</span></h4>
<div class="container">
* へるぷ更新.<br>
* 雄叫びの更新ページppapページの更新時間を30秒から60秒に変更.(Log streaming推奨)<br>
</div>
<br>

<h4><span class="badge badge-primary">Version 1.2.4</span></h4>
<div class="container">
* API追加: /api/v1/1day_shout
</div>
<br>

<h4><span class="badge badge-primary">Version 1.2.3</span></h4>
<div class="container">
* API追加: /api/v1/all_shout
</div>
<br>

<h4><span class="badge badge-primary">Version 1.2.2</span></h4>
<div class="container">
* 検索のcacheキー修正.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.2.1</span></h4>
<div class="container">
* API追加: /api/v1/autocomplete
</div>
<br>

<h4><span class="badge badge-primary">Version 1.2.0</span></h4>
<div class="container">
* API公開: /api/v1/random_shout
</div>
<br>

<h4><span class="badge badge-primary">Version 1.1.5</span></h4>
<div class="container">
* stream時の定数処理修正.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.1.4</span></h4>
<div class="container">
* topページの受け取るwebsocketパケット調整.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.1.3</span></h4>
<div class="container">
* 3鯖の雄叫びの名前欄に雄叫び検索リンク追加.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.1.2</span></h4>
<div class="container">
* 3鯖の雄叫びの初期化画面に各鯖最終叫び10個づつ表示.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.1.1</span></h4>
<div class="container">
* 3鯖の雄叫びを1画面にストリーミング表示時にサーバ名も表示対応.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.1.0</span></h4>
<div class="container">
* すべての雄叫びを1画面にストリーミング表示対応.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.0.7</span></h4>
<div class="container">
* 雄叫び統計のmemcached対応.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.0.6</span></h4>
<div class="container">
* Streaming時新規データの場合フォーカスがあってない場合はiconの色を変更.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.0.5</span></h4>
<div class="container">
* 検索のmemcached対応.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.0.4</span></h4>
<div class="container">
* 統計90日を削除して,60日を追加.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.0.3</span></h4>
<div class="container">
* LogStreaming,Topページに複数Webブラウザから接続された時の問題を修正.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.0.2</span></h4>
<div class="container">
* 検索時の挙動を変更.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.0.1</span></h4>
<div class="container">
* 検索を少し見直し R14,R15対応.
</div>
<br>

<h4><span class="badge badge-primary">Version 1.0.0</span></h4>
<div class="container">
* Release 1.0.0 !!<br>
* LIB0.5.0 のソース公開.<br>
</div>
<br>

<h4><span class="badge badge-warning">Version 0.12.4.0</span></h4>
<div class="container">
* カレンダーでの叫び,統計呼び出しパラメタ変更.
</div>
<br>

<h4><span class="badge badge-warning">Version 0.12.3.0</span></h4>
<div class="container">
* カレンダーでの叫び指定表示修正.
</div>
<br>

<h4><span class="badge badge-warning">Version 0.12.2.0</span></h4>
<div class="container">
* カレンダーでの統計指定表示修正.
</div>
<br>

<h4><span class="badge badge-warning">Version 0.12.1.0</span></h4>
<div class="container">
* カレンダーのテーマ変更.
</div>
<br>

<h4><span class="badge badge-warning">Version 0.12.0.0</span></h4>
<div class="container">
* カレンダーでの統計指定表示追加.
</div>
<br>

<h4><span class="badge badge-warning">Version 0.11.0.0</span></h4>
<div class="container">
* カレンダーでの叫び指定表示追加.
</div>
<br>

<h4><span class="badge badge-warning">Version 0.10.5.0</span></h4>
<div class="container">
* アイテムコード検索の修正.
</div>
<br>

<h4><span class="badge badge-warning">Version 0.10.4.0</span></h4>
<div class="container">
* アイテムコードのDB構造変更.
</div>
<br>

<h4><span class="badge badge-warning">Version 0.10.3.0</span></h4>
<div class="container">
* 検索結果の並び換えを修正.
</div>
<br>

<h4><span class="badge badge-warning">Version 0.10.2.0</span></h4>
<div class="container">
* 検索結果が出なかったので修正.
</div>
<br>

<h4><span class="badge badge-warning">Version 0.10.1.0</span></h4>
<div class="container">
* DB構造調整.
</div>
<br>

<h4><span class="badge badge-warning">Version 0.10.0.1</span></h4>
<div class="container">
* typo修正.
</div>
<br>

<h4><span class="badge badge-warning">Version 0.10.0.0</span></h4>
<div class="container">
* DB構造変更
</div>
<br>
<br>
</div>
Tue, 20 Feb 2018 10:39:11 +0900 Last Update.
<br>
Tue, 22 Nov 2016 23:49:26 +0900 first init.
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/toc.min.js"></script>
<script src="/js/dev.js"></script>
