<div id="page">
  <div class="container">
    <h1><span class="image-ppap oi oi-sun text-danger"></span><span class="font-weight-bold">お問い合わせ失敗</span></h1>
    <div>
      エラーです。<br>
      <%=@user_error%>
    <div>
  </div>
</div>
<script src="/js/bootstrap.min.js"></script>
