<br>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-header text-black bg-primary text-white">ぱぱみら for GUI 更新情報</div>
<div class="card-body">
<span class="oi oi-badge text-info"></span>タグについて<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>: 重要<br>
  <span class="oi oi-bug text-danger"></span>: バグ<br>
  <span class="oi oi-fire text-primary"></span>: 機能<br>
  <span class="oi oi-moon text-warning"></span>: 更新<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/10/31 Update for 2.2.0<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>サイト移転により,render.comにAPIを変更しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/10/06 Update for 2.1.6<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>コードを調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/10/05 Update for 2.1.5<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>耳関係の修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/10/04 Update for 2.1.0<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>WebAPIに対応しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/10/03 Update for 2.0.15<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>お散歩露天を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/10/03 Update for 2.0.14<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>Sample04を追加しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/10/03 Update for 2.0.13<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>アイテム辞書ツールを修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/10/03 Update for 2.0.12<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>アイテム辞書ツールをプラグインにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/10/02 Update for 2.0.11<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>プラグインコードの見直しをしました！<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/10/02 Update for 2.0.10<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>一部の機能をプラグインにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/10/01 Update for 2.0.9<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>プラグインに対応しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/10/01 Update for 2.0.8<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>露天時の売上の記録を修正しました!<br>
  <span class="oi oi-moon text-warning"></span>その他細かい処理を修正をしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/09/30 Update for 2.0.7<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>PTチャット関係の修正をしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2022/09/30 Update for 2.0.6<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>現在のリソースに合わせて動作確認しました!<br>
  <span class="oi oi-bug text-danger"></span>チャット関係の修正をしました!<br>
  <span class="oi oi-moon text-warning"></span>露天回りの修正をしました!<br>
  <span class="oi oi-moon text-warning"></span>Windows11テスト対応をしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2019/10/17 Release for x86<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>32bit(x86)版ライブラリを公開しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2019/10/17 Update 2.0.5<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>露店周りした時にログが記録されない不具合を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2019/10/16 Update 2.0.4<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>Version情報にアキーテクチャー情報を載せるようにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2019/10/16 Update 2.0.3<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>Webチャットを読めるようにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2019/02/26 Update 2.0.2<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>耳関係を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2019/02/21 Update 2.0.1<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>チャット関係を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2019/01/30 Update 2.0.0<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>アイテムドロップ検知を削除しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/12/05 Update 1.3.10<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>1.3.5のアイテムドロップ検知に戻しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/22 Update 1.3.9<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>1.3.8の修正でアイテムドロップ検知にバグがありましたので修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/22 Update 1.3.8<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテムドロップ検知を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/22 Update 1.3.7<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>1.3.6の修正で情報欄が一部文字化けしていたので修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/20 Update 1.3.6<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>一部の半角カタカナが表示上文字化けするため修正しました!<br>
  <span class="oi oi-moon text-warning"></span>アイテム辞書にマージしました![1つだけ]<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/13 Update 1.3.5<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>仮想環境等,複数接続がある場合多重に記録する不具合を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/12 Update 1.3.4<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>各種ダイアログの表示を調整しました!<br>
  <span class="oi oi-moon text-warning"></span>アイテム辞書ツールに[出力]を追加しました!<br>
  <div class="container">
    マージされた状態の辞書が data/item_marge.txt へ出力されます
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/11 Update 1.3.3<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>露店巡りの精度を上げました!<br>
  <span class="oi oi-moon text-warning"></span>アイテム辞書にマージしました![1つだけ]<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/10 Update 1.3.2<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>アイテムドロップ検知をv1.2.13の条件でマージしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/09 Update 1.3.1<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>マップ移動時の際に再度アイテムドロップを通知しなくしました!<br>
  <div class="container">
    同じアイテムで同じ座標は無視 [最大2スタック]
  </div>
  <span class="oi oi-moon text-warning"></span>アイテム辞書ツールの[適応]を[適用]に修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/09 Update 1.3.0<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>露店巡りのログ用に露店巡りタブを新設しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/09 Update 1.2.22<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテム辞書ツール起動時にメインウインドウを操作できるようにしました!<br>
  <span class="oi oi-moon text-warning"></span>アイテム辞書ツールに[適応]ボタンを追加しました!<br>
  <span class="oi oi-moon text-warning"></span>デバックコードを削除しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/09 Update 1.2.21<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>アイテムドロップ検知で複数ドロップした場合に判定されない不具合を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/09 Update 1.2.20<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>1.2.10, 1.2.13のログを記録しないオプションの初期化の不具合を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/08 Update 1.2.19<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>露店巡り機能の調整をしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/08 Update 1.2.18<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>起動時の処理を調整しました!<br>
  <span class="oi oi-moon text-warning"></span>User-Agentを調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/08 Update 1.2.17<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>PTチャットを調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/07 Update 1.2.16<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>サウンド設定で再生できない不具合を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/07 Update 1.2.15<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテムドロップ検知を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/07 Update 1.2.14<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテムドロップ検知を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/06 Update 1.2.13<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>1.2.10のログを記録しないオプションの初期化の不具合を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/06 Update 1.2.12<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>User-Agentの変更をしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/06 Update 1.2.11<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>前回のログの表示数オプションを追加しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/05 Update 1.2.10<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>露店巡り時のログを記録しないオプションを追加しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/05 Update 1.2.9<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>露店巡り機能を追加しました!<br>
  <div class="container">
    見た露店のアイテム,アイテムコードを情報欄に出力します
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/05 Update 1.2.8<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテムドロップ検知を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/05 Update 1.2.7<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテム辞書ツールに各種チェックを入れました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/03 Update 1.2.6<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>起動時のアイテム辞書読み込みの不具合を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/03 Update 1.2.5<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>アイテム辞書の最大数を増やしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/03 Update 1.2.4<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>アイテムドロップ検知を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/02 Update 1.2.3<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテムドロップ検知を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/02 Update 1.2.2<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>アイテム辞書ツールで差分DownLoad後の適用後で文字化けしていたので修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/02 Update 1.2.1<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>アイテム辞書ツールで差分の適用がズレていたので修正しました!<br>
  <span class="oi oi-bug text-danger"></span>アイテム辞書ツールで入力後一部文字化けを修正しました!<br>
  <span class="oi oi-fire text-primary"></span>アイテム辞書ツールでItemNumberを入力すると移動できるようにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/02 Update 1.2.0<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>アップデーターを修正しました!<br>
  <span class="oi oi-bug text-danger"></span>アップデータに不具合があったため繰り上げました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/02 Update 1.1.10<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテムドロップ検知を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/02 Update 1.1.9<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテムドロップ時に座標を表示するようにしました!(test)<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/02 Update 1.1.8<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテム辞書ツールを調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/01 Update 1.1.7<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>ぱぱみら for GUIのアイテム辞書ツールを ぱぱみら for Web に対応しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/11/01 Update 1.1.6<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>通知欄のキーワード一致時の表示がおかしかったので修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/31 Update 1.1.5<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテム辞書ツールを実装しました!<br>
  <div class="container">
    編集した差分を記録します
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/31 Update 1.1.4<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>ドロップ通知で例外が出ていたので修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/31 Update 1.1.3<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテム辞書ツールの枠組みを実装しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/31 Update 1.1.2<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテムドロップ検知を調整しました!<br>
  <div class="container">
    ItemCodeが10000以上は弾くようにしました
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/30 Update 1.1.1<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>アップデーターを修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/30 Update 1.1.0<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>アップデータに不具合があったため繰り上げました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/30 Update 1.0.10<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>コードの調整をしました!<br>
  <div class="container">
    特に変更はありません
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/30 Update 1.0.9<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>ドロップ検知されない不具合を修正しました!<br>
  <div class="container">
    たまにヤマイヌの骨が出ます...
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/30 Update 1.0.8<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>切断検知がマップ移動ごとになるので調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/30 Update 1.0.7<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>サウンド通知時のファイルを項目毎に別けました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/29 Update 1.0.6<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>ドロップ検知時のエンコーディング等調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/29 Update 1.0.5<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>ドロップ検知にアイテム名,IDの表示を追加しました!<br>
  <div class="container">
    643さん,671さんありがとうございます! 無事マージできました!
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/26 Update 1.0.4<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>アイテムドロップ検知を調整しました!<br>
  <span class="oi oi-moon text-warning"></span>起動時の処理を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/26 Update 1.0.3<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>アイテムドロップ検知を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/25 Update 1.0.2<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アイテムドロップ検知を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/24 Update 1.0.1<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>アイテムドロップ検知を実装しました!<br>
  <div class="container">
    ユニークアイテム系で通知等が発生します
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/23 Update 1.0.0<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>v1.0.0リリースしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/23 Update RuntimeLibrary v1.0.0<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>libs v1.0.0リリースしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/22 Update RuntimeLibrary v0.99.0<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>libsをアップデートしました!<br>
  <div class="container">
    Ruby2.5.3系にしました
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/22 Update 0.90.0<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>リリース候補を作成しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/19 Update 0.0.102<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>エラーメッセージを調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/19 Update 0.0.101<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>起動時の挙動を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/19 Update 0.0.100<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>ネットワークデバイス取得のスクリプトを内蔵にしました!<br>
  <span class="oi oi-moon text-warning"></span>一時ファイルの取り扱いを変更しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/18 Update 0.0.99<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>起動時デバイス選択ダイアログを更に調整しました!<br>
  <span class="oi oi-bug text-danger"></span>ネットワークツールを更に調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/18 Update 0.0.98<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>起動時デバイス選択ダイアログを調整しました!<br>
  <span class="oi oi-bug text-danger"></span>ネットワークツールが環境によって動かないので調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/18 Update 0.0.97<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>起動時デバイス選択ダイアログを修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/17 Update 0.0.96<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>クラウド露店機能の暗号化を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/16 Update 0.0.95<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>通知欄に連続して同じ文言を表示しなくしました！<br>
  <span class="oi oi-bug text-danger"></span>通知欄が大きい時にコピペ出来なかったので修正しました！<br>
  <span class="oi oi-bug text-danger"></span>通知欄のサイズ変更時に通知欄が動くので調整しました！<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/16 Update 0.0.94<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>通知欄の表示を変更した時に文字を消えなくしました！<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/16 Update 0.0.93<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>通知欄の表示を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/16 Update 0.0.92<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>通知欄に大きい表示を用意しました!<br>
  <div class="container">
    4行まで表示出来ます
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/16 Update 0.0.91<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>ネットワークツールが正しく動作しない環境があったので修正しました!<br>
  <span class="oi oi-fire text-primary"></span>起動時に引数(オプション)が未指定の場合、デバイスを選ぶダイアログを出すようにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/15 Update 0.0.90<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>キーワードマッチ時にログを保存するように修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/15 Update 0.0.89<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>クラウド露店機能を実装しました!<br>
  <div class="container">
    自分の露店売上をWebから参照できる機能です
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/12 Update 0.0.88<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>通知欄の画像を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/12 Update 0.0.87<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>通知欄、メインウインドウの初期化位置の調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/12 Update 0.0.86<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>メニューに通知欄の実行チェックを実装しました!<br>
  <span class="oi oi-bug text-danger"></span>通知欄の初期化位置を調整しました!<br>
  <span class="oi oi-bug text-danger"></span>フォント設定で初期フォントが選択されない不具合を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/12 Update 0.0.85<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>通知欄をクリック後に通知文字の位置がおかしくなるので修正しました!<br>
  <span class="oi oi-moon text-warning"></span>大きなパイナップル時にキーワードマッチすると色を変更するようにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/11 Update 0.0.84<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>通知欄をクリック時に反応が悪いので修正しました!<br>
  <span class="oi oi-moon text-warning"></span>通知欄をクリック時にパイナップルを大きくしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/11 Update 0.0.83<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>タスクトレイ通知アイコンが消えないことがあったので修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/11 Update 0.0.82<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>各項目の通知時に変わるラベルの色を変更しました!<br>
  <span class="oi oi-moon text-warning"></span>起動時のエラー制御を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/11 Update 0.0.81<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>アップデート機能の途中経過をわかりやすくしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/10 Update 0.0.80<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>タスクトレイ通知アイコンをキーワードマッチ時に変更するようにしました!<br>
  <span class="oi oi-fire text-primary"></span>タスクトレイ通知アイコンをデフォルト非表示としました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/10 Update 0.0.79<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>warning表示を最小にしました!<br>
  <span class="oi oi-moon text-warning"></span>RuntimeLibrary v0.1.0に対応しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/10 Update RuntimeLibrary v0.1.0<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>libsをアップデートしました!<br>
  <div class="container">
    Ruby2.5.1系にしました
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/10 Update RuntimeLibrary v0.0.6<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>warning表示を最小にしました!<br>
  <span class="oi oi-fire text-primary"></span>libsをアップデートしました!<br>
  <div class="container">
    Ruby2.4.4系のまま
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/10 Update 0.0.78<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>最小化時にタスクトレイに格納するオプションを実装しました!<br>
  <span class="oi oi-bug text-danger"></span>0.0.77のアーカイバフォーマットが間違っていたので修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/10 Update 0.0.77<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>通知欄をダブルクリックでアイコン化するようにしました!<br>
  <span class="oi oi-moon text-warning"></span>アップデートダイアログのアイコンを調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/09 Update 0.0.76<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>通知時にウインドウ点灯を通知時タスクを点灯に変更しました!<br>
  <span class="oi oi-fire text-primary"></span>通知音が同期してなっていたので非同期処理にしました!<br>
  <span class="oi oi-bug text-danger"></span>タスク点灯の発生フラグがおかしかったので修正しました!<br>
  <span class="oi oi-moon text-warning"></span>デバッグフラグ実行時の処理を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/09 Update 0.0.75<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>キーワードマッチ時に対象の名前をクリップボードに貼り付ける機能を実装しました!<br>
  <div class="container">
    誰得だろう..
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/09 Update 0.0.74<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>オプションに通知時Windowを点灯させるを追加しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/07 Update 0.0.73<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>通知欄を機能欄に移動しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/05 Update 0.0.72<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>メンテ通知ダイアログにプログレスバーを追加しています!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/04 Update 0.0.71<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>メンテ通知を機能欄に移動しました!<br>
  <span class="oi oi-moon text-warning"></span>メンテ通知の間隔を調整しました!<br>
  <span class="oi oi-moon text-warning"></span>メンテ通知実行時にメニュー非活性する挙動を変更しました!<br>
  <span class="oi oi-moon text-warning"></span>メンテ通知実行時にTimeoutが長すぎたので短くしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/03 Update 0.0.70<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>クラウド検索の条件項目を追加しました!<br>
  <span class="oi oi-fire text-primary"></span>クラウド検索に現在の状況を表示する項目を追加しました!<br>
  <span class="oi oi-fire text-primary"></span>ローカル検索の表示を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/03 Update 0.0.69<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>一部の叫びがPTチャット欄に表示されるバグを修正しました!<br>
  <span class="oi oi-bug text-danger"></span>切断検知で設定数より接続数が多い場合に通知が出る不具合を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/03 Update 0.0.68<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>ぱぱみら for Web の検索範囲拡大に対応しました!<br>
  <div class="container">
    14日から30日, 300件から1000件までです<br>
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/02 Update 0.0.67<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>通知欄のマウス操作を変更しました!<br>
  <div class="container">
    右クリック時に削除でしたが,ポップアップメニューで[名前],[本文],[名前と本文],[クリア]を追加<br>
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/02 Update 0.0.66<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>通知欄のマウス操作を変更しました!<br>
  <div class="container">
    右クリック: 内容初期化<br>
    左ダブルクリック: 名前をクリップボードにコピー<br>
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/01 Update 0.0.65<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>切断通知の仕様変更しました!<br>
  <div class="container">
    仮想PC等の複数PCの対応<br>
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/01 Update 0.0.64<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>エラーログを log/error.log に出すようにしました!<br>
  <span class="oi oi-bug text-danger"></span>細々としたバグっぽいところを修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/01 Update 0.0.63<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>サーバの切断チェックを調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/10/01 Update 0.0.62<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>アップデート機能を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/30 Update 0.0.61<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>メンテナンスチェック時にコマンドプロンプトが出ていたので調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/29 Update 0.0.60<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>サーバの切断チェックを調整しました!<br>
  <div class="container">
    以前は無通信時でしたが,今回はTCPセッションが消えた場合を調整を入れ,<br>
    接続が切れてからのセッションがなくなるまで時間が必要だったためTCPセッションのフラグも見るようにしています
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/29 Update 0.0.59<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>切断検知を別の方法にしました!<br>
  <div class="container">
    以前は無通信時でしたが,今回はTCPセッションが消えたらにしています
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/28 Update 0.0.58<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>ネットワークツールに自分自身のIPなどを表示するようにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/28 Update 0.0.57<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>ログには記録されるが,GUI上に表示できない不具合を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/27 Update 0.0.56<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>仮想PC等の通信でログが２重,３重に保存される現象の修正をしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/27 Update 0.0.55<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>ネットワークツールに調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/27 Update 0.0.54<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>パケットを読む際のIPアドレスの指定方法を変更しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/27 Update 0.0.53<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>メンテナンスチェックのダイアログを調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/27 Update 0.0.52<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>キーワードで叫び内容が正しくマッチするように修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/27 Update 0.0.51<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>同時刻の同一名前同一叫び等などの連続したデータは破棄するようにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/27 Update 0.0.50<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>細かいバグを修正しました!<br>
  <span class="oi oi-fire text-primary"></span>ディレクトリ構造を変更しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/27 Update 0.0.49<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>キーワード通知を追加しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/26 Update 0.0.48<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>表示ビューのフォントサイズを変更できるようにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/26 Update 0.0.47<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>クラウド検索のレイアウトを変更しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/26 Update 0.0.46<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>リモートデスクトップ環境で動かした時に落ちるので修正しています!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/26 Update 0.0.45<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>ぱぱみら for Web に対応しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/26 Update 0.0.44<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>メンテナンスチェックの検知方法を変更しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/26 Update 0.0.43<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>情報欄に文字化けした情報が入ることがあったので修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/25 Update 0.0.42<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>細かいバグを修正しました!<br>
  <span class="oi oi-fire text-primary"></span>画面表示等の調整と,クラウド検索の枠組みを追加しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/25 Update 0.0.41<br>
<div class="container">
  <span class="oi oi-moon text-warning"></span>warning等を表示を抑えました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/25 Update 0.0.40<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>露天売上のGoldをそのまま出していたので,億とか万とか表示し見やすく変更しています!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/25 Update 0.0.39<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>インゴットとGoldの区別をして,露店時の売上を出すようにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/23 Update 0.0.38<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>無通信時に切断メッセージを表示するようにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/23 Update 0.0.37<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>メンテナンス終了のチェック機能を追加しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/23 Update RuntimeLibrary v0.0.5<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>libsをアップデートしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/22 Update 0.0.36<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>ライブラリのパスの問題でアップデート機能が利用できない不具合を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/21 Update 0.0.33<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>アップデータ機能を実装しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/23 Update RuntimeLibrary v0.0.4<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>libsをアップデートしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/19 Update 0.0.32<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>PTチャット関係を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/19 Update 0.0.31<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>ネットワークツールを実装しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/19 Update RuntimeLibrary v0.0.3<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>libsをアップデートしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/19 Update 0.0.30<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>通知欄に日付を表示しないよう調整しました!<br>
  <div class="container">
    あとパイナップルでます...
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/19 Update 0.0.29<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>最前面に表示する通知欄を調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/18 Update 0.0.28<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>最前面に表示する通知欄を実装しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/18 Update 0.0.27<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>検索のカテゴリー別け,表示色の変更をしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/17 Update RuntimeLibrary v0.0.2<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>libsをアップデートしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/17 Update 0.0.26<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>叫び等があった場合は叫び欄の文字色を変えるようにしました!<br>
  <div class="container">
    叫び,一般,パーティー,ギルド,耳打ちなど
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/17 Update 0.0.25<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>起動時できない場合等の内部エラーをダイアログで表示するようにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/17 Update 0.0.24<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>通知用の音声ファイル選択ダイアログをきちんと実装しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/16 Update 0.0.23<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>メニューバーから終了した場合にもWindowサイズと位置を保存をするように修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/16 Update 0.0.22<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>Windowサイズと位置保存を対応しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/16 Update 0.0.21<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>表示時間選択すると例外で終了するので修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/16 Update 0.0.20<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>チャットの表示時間設定が再起動しないと反映されなかったので修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/17 Update 0.0.19<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>表示時間を指定できるようにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/16 Update 0.0.18<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>叫びのオートスクロールが間違っていたので修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/16 Update 0.0.17<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>設定を保存できるようにしました!<br>
  <span class="oi oi-fire text-primary"></span>オートスクロールとサウンドファイルの指定を実装しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/15 Update 0.0.16<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>ネットワークデバイス名が取得できない場合,直接指定できるような実装をしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/15 Update 0.0.15<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>PTチャットの名前表示がおかしかったので修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/15 Update 0.0.14<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>PTチャットを再調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/15 Update 0.0.13<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>メニューを追加しました!<br>
  <span class="oi oi-fire text-primary"></span>通知音のメニューオプションを追加しました!<br>
  <div class="container">
    ギルド,耳打ちのみ通知音がなります
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/15 Update 0.0.12<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>音声再生用のライブラリに対応しました!<br>
  <div class="container">
    Gチャット時に音がなります
  </div>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/14 Update RuntimeLibrary v0.0.1<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>libsをアップデートしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/14 Update 0.0.11<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>ログの検索を追加しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/14 Update 0.0.10<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>起動時に前回のログを20個まで表示するようにしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/14 Update 0.0.9<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>出力されるログファイルを別けました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/14 Update 0.0.8<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>PTチャット,叫びの表示関係を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/13 Update 0.0.7<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>耳打ち関係を調整しています!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/12 Update 0.0.6<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>PTチャット,叫びの表示関係を修正しました!<br>
  <span class="oi oi-fire text-primary"></span>RuntimeLibraryを分離しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/12 Update 0.0.5<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>PTチャット,叫びの表示関係を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/12 Update 0.0.4<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>ギルドチャットを修正しました!<br>
  <span class="oi oi-bug text-danger"></span>文字化けすることもあったのでフォント調整しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/12 Update 0.0.3<br>
<div class="container">
  <span class="oi oi-bug text-danger"></span>スクロール関係を修正しました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/14 Update 0.0.2<br>
<div class="container">
  <span class="oi oi-fire text-primary"></span>耳打ちの実装をしました!<br>
</div>
<br>

<span class="oi oi-badge text-info"></span> 2018/09/14 Update 0.0.1<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>Project ぱぱみら for GUI テスト版をリリースしました<br>
</div>
<br>

</div>
</div>
<br>
</div>
</div>
</div>
<script src="/js/bootstrap.min.js"></script>
