<br>
<br>
<br>
<link href="/css/help.css" rel="stylesheet">
<div class="container">
<h1><span class="image-ppap oi oi-file"></span> ヘルプ</h1>
<div class="container">
<br>
ごにょごにょ
<br>
<br>
<h2 class="mark">これはなに？</h2>
<div class="container">
  (P)ぱいなっぽう (A)あっぽう (P)ぽーたる (A)あしすと (mi) みらーはよ (ra) れいどはよ<br>
  <strong>papamira</strong>です。その時の必要な単語で出来ています<br>
  <br>
  ギルド勧誘などを目的に運用しています。<br>
  楽しくゲームできるようにしましょう！ケンカはダメよ。<br>
  <br>
<div id="toc"></div>
<ul>
  <li><p class="badge badge-danger">しゅとらせらと鯖</p>の雄叫び情報を2016/12月上旬から蓄積しています</li>
  <li><p class="badge badge-warning">ぼるてぃっしゅ鯖</p>の雄叫び情報を2016/11月下旬から蓄積しています</li>
  <li><p class="badge badge-primary">ぶりっじへっど鯖</p>の雄叫び情報を2016/11月上旬から蓄積しています</li>
  <li><p class="badge badge-secondary">ごーるどEX鯖</p>の雄叫び情報を2017/7月から蓄積しています</li>
</ul>
</div>
<br>

<h2 class="mark">動作</h2>
<div class="container">
  JavaScriptが必須です<br>
  PCでの動作テストを主にしているので,スマホ端末ではレイアウトが崩れることがあります<br>
  がんばって雄叫びを手入力しています!! 作業員急募!<br>
</div>
<br>

<h2 class="mark">環境</h2>
<ul>
  <li>Windows7以降</li>
  <li>macOS 10.12 Sierra以降</li>
  <li>Android 4以降</li>
  <li>iOS7 以降</li>
</ul>

<h4 class="mark">ブラウザ</h4>
<ul>
  <li>Edge</li>
  <li>Firefox 52以降</li>
  <li>Chorome 54以降</li>
  <li>Opera 最新版</li>
  <li>Android Firefox</li>
  <li>Android Chorome</li>
  <li>iOS for safari</li>
  <li>MacOS for safari</li>
</ul>

<h4 class="mark">IE11</h4>
<div class="container">
  IE11はWeb通知に対応していません.LogStreaming(websocket)は対応可能の模様.<br>
  また.IE9以前は表示も未対応.
</div>
<br>

<h4 class="mark">Web通知対応</h4>
<ul>
  <li>Edge</li>
  <li>Firefox 52以降</li>
  <li>Chorome 54以降</li>
  <li>Opera 最新版</li>
  <li>Android Firefox</li>
  <li>iOS for safari</li>
  <li>MacOS for safari</li>
</ul>

<h2 class="mark">トップページ</h2>
<div class="container">
  全体の最新叫びを吹き出しに表示します.また,リアルタイムぽく随時更新されます<br>
  各鯖の末尾には<b>[up]</b>または<b>[down]</b>と表示され,1時間以上更新がない場合は<b>[down]</b>と表示されます
</div>
<br>

<h2 class="mark">雄叫び</h2>
<div class="container">
  各鯖の雄叫びに移動します<br>
  <br>
  <p class="badge badge-danger">しゅとらせらと鯖</p>の叫びに移動します<br>
  <p class="badge badge-primary">ぶりっじへっど鯖</p>の叫びに移動します<br>
  <p class="badge badge-warning">ぼるてぃっしゅ鯖</p>の叫びに移動します<br>
  <p class="badge badge-secondary">ごーるどEX鯖</p>の叫びに移動します<br>
</div>
<br>

<h2 class="mark">ストリーミング</h2>
<div class="container">
  リアルタイム表示になります<br>
  入力の過程でラグがあります<br>
  <b>(JavaScript+WebSocket対応ブラウザ必須)</b><br>
  <br>
  <p class="badge badge-danger">しゅとらせらと鯖</p>のストリーミングに移動します<br>
  <p class="badge badge-primary">ぶりっじへっど鯖</p>のストリーミングに移動します<br>
  <p class="badge badge-warning">ぼるてぃっしゅ鯖</p>のストリーミングに移動します<br>
  <p class="badge badge-secondary">ごーるどEX鯖</p>のストリーミングに移動します<br>
  全鯖まとめては<p class="badge badge-danger">S</p>,<p class="badge badge-primary">B</p>,<p class="badge badge-warning">V</p>,<p class="badge badge-secondary">G</p>の4鯖のストリーミングに移動します<br>
</div>
<br>

<h4 class="mark">おたけび統計</h4>
<div class="container">
  <p class="badge badge-danger">S</p>,<p class="badge badge-primary">B</p>,<p class="badge badge-warning">V</p>,<p class="badge badge-secondary">G</p>
  鯖の統計を表示します.また,上記リンクからは鯖毎の統計を表示に移動します<br>
  通常1日更新で,1day or 1weekの表示のみ1時間更新です
</div>
<br>

<h4 class="mark">ランキング</h4>
<div class="container">
  <p class="badge badge-danger">S</p>,<p class="badge badge-primary">B</p>,<p class="badge badge-warning">V</p>,<p class="badge badge-secondary">G</p>
  鯖の当日の雄叫び回数を表示します<br>
  1時間毎の更新です
</div>
<br>

<h4 class="mark">わーど</h4>
<div class="container">
  <p class="badge badge-danger">S</p>,<p class="badge badge-primary">B</p>,<p class="badge badge-warning">V</p>,<p class="badge badge-secondary">G</p>
  鯖の雄叫びの検索ワードから気になるわーどをを表示します<br>
</div>
<br>

<h2 class="mark">各鯖雄叫びのメニュー</h2>
<div class="container">
<h4 class="mark">最新</h4>
<div class="container">
  最新情報を100件を表示しています.設定秒数で自動更新されます
</div>
<br>

<h4 class="mark">day</h4>
<div class="container">
  1日の情報を表示しています.件数は叫びの状況によって変わります<br>
</div>
<br>

<h4 class="mark">2day</h4>
<div class="container">
  2日の情報を表示しています.件数は叫びの状況によって変わります<br>
</div>
<br>

<h4 class="mark">3day</h4>
<div class="container">
  3日の情報を表示しています.件数は叫びの状況によって変わります<br>
</div>
<br>
 
<h4 class="mark">week</h4>
<div class="container">
  1週間の情報を表示しています.件数は叫びの状況によって変わります<br>
</div>
<br>

<h4 class="mark">2week</h4>
<div class="container">
  2週間の情報を表示しています.件数は叫びの状況によって変わります<br>
</div>
<br>

<h3 class="mark">検索</h3>
<h4>キーワード検索</h4>
<div class="container">
  指定したサーバ,期間,検索件数からマッチした情報を表示します<br>
  件数はマッチ状況によって変わります<br>
  <br>
  検索語を全角スペースまたは,半角スペースを入れると絞り込み検索が出来ます<br>
  AND検索はスペースを挟むです<br>
  ANDNOT検索は単語先頭に!を追記します<br>
  OR検索は単語の間に|で挾むです<br>
  （）検索は半角括弧を入力してください<br>
  数値範囲指定は半角[]を入力してください<br>
  数値範囲指定は半角[20-26,2]とすると最小上がり幅を指定できますが,省略することも出来ます<br>
  <br>
  <div class="container">
    ex: 通常検索<br>
    <div class="container">
      <kbd>あああ</kbd><br>
      <kbd>あいうえお</kbd><br>
      <br>
    </div>
    ex: AND<br>
    <div class="container">
      <kbd>あああ いいい</kbd><br>
      <kbd>あああ　 いいい　ううう</kbd><br>
      <br>
    </div>
    ex: NOT<br>
    <div class="container">
      <kbd>!ギルド</kbd><br>
      <kbd>!秘密 !PT</kbd><br>
      <br>
    </div>
    ex: AND NOT<br>
    <div class="container">
      <kbd>ギルド !攻城</kbd><br>
      <kbd>PT !秘密</kbd><br>
      <kbd>募集 PT !秘密</kbd><br>
    <br>
    </div>
    ex: 数値範囲<br>
    <div class="container">
      <kbd>かけら [250-640]</kbd><br>
      <kbd>神秘鏡 [10-30]本</kbd><br>
      <kbd>売 神秘鏡 [10-30]本</kbd><br>
      <kbd>売 [1.4-1.6]本</kbd><br>
      <kbd>売 PVP [20-26,2]%</kbd><br>
      <kbd>売 PVP [20-26,3]%</kbd><br>
      <kbd>(かけら|欠片|カケラ) [650-720]</kbd><br>
      <kbd>(かけら|欠片|カケラ) LV[650-720]</kbd><br>
      <kbd>(かけら|欠片|カケラ) [650-720]LV</kbd><br>
      <kbd>(かけら|欠片|カケラ) [650-720] LV</kbd><br>
    <br>
    </div>
    ex: 複合<br>
    <div class="container">
      <kbd>(かけら|欠片|カケラ) (飛ばし|代行|出し|だし)</kbd><br>
      <kbd>(かけら|欠片|カケラ) (飛ばし|代行|出し|だし) 900</kbd><br>
      <kbd>(かけら|欠片|カケラ) (飛ばし|代行|出し|だし) !900</kbd><br>
      <kbd>(かけら|欠片|カケラ) (飛ばし|代行|出し|だし) [300-640]</kbd><br>
      <br>
    </div>
  </div>
</div>

<h4>タグ一覧</h4>
<div class="container">
  特定の叫び内容を検索できるタグです<br>
</div>
</div>
<br>

<h2 class="mark">各鯖のStreamingについて</h2>
<div class="container">
  左枠にはラグはありますがほぼリアルタイムで表示します<br>
  対応Webブラウザが必要で,自動で更新されますがクリアはしません<br>
  <b>(JavaScript+WebSocket対応ブラウザ必須)</b><br>
  <br>
  正常に接続されると"<b class="text-primary">online</b>"と表示されストリーミングが開始されます<br>
  エラー時,切断時,サーバ再起動時は"<b class="text-danger">offline</b>"と表示されストリーミングが行われません<br>
  自動で再接続しますが,"<b class="text-primary">online</b>"にならない時,アップデート時はリロードしてください<br>
  <br>
  <b class="text-primary">通知許可</b>と<b class="text-primary">キーワード</b>を入れておくとマッチした時にデスクトップ通知が発生し、対応ブラウザでは音が再生されます<br>
  キーワードは複数指定でき,改行毎に正規表現でのマッチ処理をします<br>
  <br>
  詳細は下記の通知キーワード - 正規表現の作り方を参照してください
  <br>
</div>
<br>

<h2 class="mark">音声再生</h2>
<div class="container">
  叫びの音声再生機能を<p class="badge badge-danger">S</p>,<p class="badge badge-primary">B</p>,<p class="badge badge-warning">V</p>,<p class="badge badge-secondary">G</p>,<p class="badge badge-success">全鯖</p>のStreamingに追加されています<br>
  [音声再生なし]のコンボボックスを変更することで次回の叫び以降再生されます<br>
  デフォルトは[音声再生なし]が選択されており無効となっています<br>
  <br>
  旧フォーマット: <p class="badge badge-info">ogg</p><br>
  現フォーマット: <p class="badge badge-info">mp3</p><br>
  フォーマットはoggとしていましたが,iPhone対応のため現在フォーマットはmp3となっています<br>
  <br>
  <h4 class="mark">音声再生なし</h4><br>
  <div class="container">
  音声再生を行いません
  </div>
  <br>
  <br>
  <h4 class="mark">VoiceAPI</h4><br>
  <div class="container">
  通知時にサーバ側でmp3ファイルを作成し,URLから自動でダウンロードして再生します<br>
  <p class="badge badge-primary">毎回mp3のダウンロードに通信が発生します</p><br>
  比較的処理が軽い<br>
  <br>
  TestOS:<br>
    Windows10 Chrome 6x<br>
    Android 4.4.x Chorome 6x<br>
    Linux Ubuntu Firefox 57,58<br>
  </div>
  <br>
  <h4 class="mark">WebSpeech</h4><br>
  <div class="container">
  通知時にクライアント側のブラウザ機能を利用して再生します<br>
  <p class="badge badge-primary">対応ブラウザ</p>,<p class="badge badge-primary">OS</p>によって挙動が変更します<br>
  若干処理が重いかもしれません<br>
  <br>
  TestOS:<br>
    Windows10 Chrome 6x<br>
    Android 4.4.x Chorome 6x<br>
  </div>
</div>
<br>

<h4 class="mark">音声ボリュームコントローラー</h4>
<div class="container">
  お叫びの音声自動再生機能,通知時の音源再生時の音量を設定します<br>
  デフォルトは30%となっており,ミュートは左へコントロールを移動させます<br>
  ミュート時はアイコンが赤く,最大時は黄色になります<br>
</div>
<br>

<h4 class="mark">通知再生の音源設定</h4>
<div class="container">
  通知処理時の音源再生のファイルを選択できます<br>
  セキュリティー上指定したファイルへのパスは保存されませんので,ブラウザ起動,ページ移動等で初期化されます<br>
</div>
<br>

<h2 class="mark">Web通知設定について</h2>
<div class="container">
  設定した条件に合致する内容の叫びがあった場合,音を鳴らしてユーザーに知らせることができます<br>
  使い方としては,RS以外の作業をしてる際,秘密募集や特定のアイテムに関する叫びがあった場合<br>
  音を鳴らすことが可能です<br>
  <br>
  条件設定の方法は,音を鳴らして欲しい叫びを正規表現という記述形式でテキストボックス内に入力することで行います<br>
  <br>
  <h4 class="mark">クリア</h4>
  <div class="container">
    現在の通知キーワードを削除します<br>
  </div>
  <br>
  <h4 class="mark">読み込み</h4>
  <div class="container">
    通知キーワードをCookieから読み込みます<br>
  </div>
  <br>
  <h4 class="mark">保存</h4>
  <div class="container">
    通知キーワードをCookieに保存します<br>
  </div>
  <br>
  <h4 class="mark">通知設定</h4>
  <div class="container">
    ブラウザに通知許可設定をします<br>
    また、Web通知対応可能かの判断も行います<br>
    1度設定すれば,ブラウザの設定変更するまで有効となります<br>
  </div>
  <br>
  <h4 class="mark">キーワードのマッチ範囲</h4>
  <div class="container">
    Web通知のキーワードマッチ範囲を<kbd>"名前+本文" or "名前" or "本文"</kbd>の選択が出来ます<br>
  </div>
  <br>
  <h4 class="mark">サーバのマッチ範囲</h4>
  <div class="container">
    <p class="badge badge-primary">全鯖ストリーミング</p>時に選択可能です<br>
    Web通知の対象サーバをを<p class="badge badge-info">ALL</p>,<p class="badge badge-danger">S</p>,<p class="badge badge-primary">B</p>,<p class="badge badge-warning">V</p>,<p class="badge badge-secondary">G</p>から選択が出来ます<br>
  </div>
</div>
<br>

<h4 class="mark">表示設定</h4>
<div class="container">
  雄叫びストリーミングの表示する設定です<br>
  <br>
  <h4 class="mark">Tableマージン[大]</h4>
  <div class="container">
    雄叫び間の表示マージンを調整します<br>
  </div>
  <br>
  <h4 class="mark">フォントサイズ[大]</h4>
  <div class="container">
    雄叫びのフォントサイズを調整します<br>
  </div>
  <br>
</div>
<br>

<h4 class="mark">フリーモードについて</h4>
<div class="container">
  雄叫びストリーミングの表示されるテーブルをクリックするとモーダルダイアログが表示されます<br>
  通常はフリーモードとなっており,モーダルダイアログは表示されません<br>
  フリーモード解除時はクリック時に"クリップボードへコピー","正規表現組み立てツールに送る"等が表示されます<br>
</div>
<br>

<h2 class="mark">通知キーワード</h2>
<div class="container">
  正規表現の構文で記述します<br>
  <br>
  <h3 class="mark">目的の叫びに合致する正規表現の作り方</h3>
  <div class="container">
  自分が待っている叫びに合致する正規表現はどのようにすれば作れるのか。詳しく説明していきます。<br>
  基本的に次の4ステップで作っていきます。<br>
  <div class="container">
    <br>
    <strong>1: 必ず含む単語を決める</strong><br>
    <strong>2: どれか１つ必ず含む単語を決める</strong><br>
    <strong>3: 除外したい単語を決める</strong><br>
    <strong>4: 値段の範囲を決める　!!必要に応じて</strong><br>
    <br>
    具体例を挙げて詳しく説明していきます。<br>
  </div>
  <br>
  <h4 class="mark">アイテム売買に関する叫びの場合</h4><br>
  <div class="container">
    アイテム売買の叫びは次のような文章構成をしていることが大半です。<br>
    <br>
    <kbd>売または買　＋（％等の性能）＋アイテム名＋（値段）</kbd><br>
    <br>
    このように特定の目的の叫びを通知して欲しい場合、その叫びの文章構成を把握することが正規表現を作る基本となります。<br>
    <br>
  </div>
  <h4 class="mark">例：TRSワームの売り叫びがあれば通知して欲しい</h4><br>
  <div class="container">
    <strong>1: 必ず含む単語：売、TRS</strong><br>
    <strong>2: どれか１つ必ず含む単語：ワームまたはワム　!!内容は同じだが人によって表現が違う</strong><br>
    <strong>3: 除外したい単語：Nx</strong><br>
    <strong>4: 値段の範囲を決める：280本以下</strong><br>
    <br>
    これを元にして正規表現を組み立ててみます。説明はぱぱみらの正規表現の組み立て画面を元にします。<br>
    <br>
    まず、「必ず含む単語」の入力欄に　売　を入力して追加ボタンを押します。<br>
    <br>
    <h5 class="mark">出来上がった正規表現(1)</h5>
    <kbd>^(?=.*売).*$</kbd><br>
    <br>
    これは売という単語が入った全ての叫びに対して通知を行います。これでは通知する叫びが多すぎるので、次にアイテム名を入力して通知する叫びを限定します。「どれか１つ必ず含む単語」の入力欄に　ワーム|ワム　と入力して追加ボタンを押します。<br>
    <br>
    <h5 class="mark">出来上がった正規表現(2)</h5>
    <kbd>^(?=.*売)(?=.*(ワーム|ワム)).*$</kbd><br>
    <br>
    これは売という単語が含まれ、かつ、ワームまたはワムという単語が含まれる叫びを通知します。かなり通知の叫びが限定されますがN品のワームの売り叫びも通知してしまう状況です。そのため次にアイテムの性能を表す”TRS”という単語を入力して追加ボタンを押します。<br>
    <br>
    <h5 class="mark">出来上がった正規表現(3)</h5>
    <kbd>^(?=.*売)(?=.*(ワーム|ワム))(?=.*TRS).*$</kbd><br>
    <br>
    これで完成に近づいてきましたが、まだTRSワームNxの売り叫びも通知してしまう状況です。そのため次は「除外したい単語」の部分に”Nx”という単語を入力して追加ボタンを押します。<br>
    <br>
    <h5 class="mark">出来上がった正規表現(4)</h5>
    <kbd>^(?=.*売)(?=.*(ワーム|ワム))(?=.*TRS)(?!.*(Nx)).*$</kbd><br>
    <br>
    これでほぼ完成です。しかし出来れば相場通り、もしくは相場以下の値段で買いたいものです。そこで280本以下で売り叫びがあった際、通知して欲しいとします。数値範囲を正規表現で表すには２ステップで行います。<br>
    <br>
    <br>
    <h5 class="mark">1: 数値範囲を表す正規表現を作成する</h5><br>
    <div class="container">
      数値範囲の正規表現を作るには次のサイトを利用します。<br>
      <a target="_blank" href="https://www.simple-edition.com/prog_memo/number_range_regexp/">https://www.simple-edition.com/prog_memo/number_range_regexp/</a><br>
      <br>
      上記サイトの数値の範囲という入力欄に入力すれば、自動的にその数値範囲に対応する正規表現を生成してくれます。ここでは数値範囲を200~280として生成してみます。<br>
      <br>
      出来上がった200~280に対応する正規表現<br>
      <kbd>2[0-7][0-9]|280</kbd><br>
      <br>
      <br>
    </div>
    <h5 class="mark">2: 数値範囲の正規表現を必ず含む単語の部分に挿入して、追加ボタンを押す。</h5><br>
    <div class="container">
    200~280に対応する正規表現、2[0-7][0-9]|280を必ず含む単語の部分に挿入して追加ボタンを押します。<br>
    <br>
    <h5 class="mark">出来上がった正規表現(5)</h5>
    <kbd>^(?=.*売)(?=.*(ワーム|ワム))(?=.*TRS)(?!.*(Nx))(?=.*(2[0-7][0-9]|280)).*$</kbd><br>
    <br>
    最終的に5の正規表現をWeb通知の条件として設定することで,TRSワームを280本以下で売るという叫びがあった際に音を鳴らすことが可能になります。<br>
    </div>
    <br>
    <h5 class="mark">Q&A</h5>
    <div class="container">
      <strong>Q:</strong> trsワームという小文字の叫びは通知してくれないのでは？<br>
      <strong>A:</strong> 通知してくれます。ぱぱみらでは大文字小文字を区別しないように設定しているためです。<br>
      <br>
      <strong>Q:</strong> ＴＲＳワームという全角アルファベットは通知してくれないのでは？<br>
      <strong>A:</strong> 通知してくれます。ぱぱみらでは予め全角のアルファベットは半角に変換してから正規表現がマッチするかどうかを判定しているためです。<br>
    </div>
</div>
<br>
<h4 class="mark">その他の例</h4><div class="container">
<h5>かけら飛ばし代行の叫びがあれば通知して欲しい</h5><br>
かけら飛ばし代行を探す叫びは人によって表現がかなり異なるので若干複雑になります<br>
<br>
以下の叫びは全てかけら飛ばし代行の叫びです.表現が違うだけです<br>
Web通知に設定する正規表現はこれら全てにマッチする必要があります<br>
<span class="text-danger">!! 以下の叫びは実際の叫びから抽出しました</span><br>
<br>
<kbd class="bg-secondary">探）かけら飛ばししてくれる人　Lv605　4本でお願いします　<br>
 求：欠片だししてくれる方　出：１キャラ　７本　Lv９０１<br>
 1キャラ8本でカケラ出ししてくれる方いませんか。Lv９２０です<br>
 RS欠片の代行屋さんいませんか。Lv８９４　９本　耳ヨロ</kbd><br>
<br>
上記の叫びから以下の特徴が伺えます。<br>
  <span class="bg-secondary text-white">かけらを表す表現：かけら、欠片、カケラ</span><br>
  <span class="bg-secondary text-white">代行を表す表現：代行、飛ばし、出し、だし</span><br>
<br>
これらを組み合わせて正規表現を作ると以下のようになります。<br>
<br>
<strong>Web通知の正規表現</strong><br>
  <kbd>^(?=.*(かけら|欠片|カケラ))(?=.*(代行|出し|だし|飛ばし)).*$</kbd><br>
<br>
他にはLvを250-650に絞りたい場合などは,例3で作ったように250-650の正規表現<br>
  <kbd>25[0-9]|2[6-9][0-9]|[3-5][0-9]{2}|6[0-4][0-9]|650</kbd> を最後に追加します。<br>
<br>
<strong>かけら飛ばし代行のWeb通知の正規表現.但しLv250-650に限定</strong><br>
  <kbd>^(?=.*(かけら|欠片|カケラ))(?=.*(代行|出し|だし|飛ばし)(?=.*(25[0-9]|2[6-9][0-9]|[3-5][0-9]{2}|6[0-4][0-9]|650))).*$</kbd><br>
</div>
<br>
  参考外部リンク1:<a target="_blank" href="https://msdn.microsoft.com/ja-jp/library/cc392020.aspx">正規表現の構文</a><br>
  参考外部リンク2:<a target="_blank" href="https://scriptular.com/">scriptular 正規表現テスト</a><br>
  参考外部リンク3:<a target="_blank" href="https://gimite.net/help/devas-ja/all_regex.html">正規表現一覧</a><br>
  参考外部リンク4:<a target="_blank" href="https://www23.atwiki.jp/redstone0915/pages/54.html">RedStone雷鯖VIPGファーガソンｗｗｗ</a><br>
  </div>
</div>
<br>

<h3 class="mark">キーワードプリセット</h3>
<div class="container">
  正規表現の構文のプリセットです<br>
  <br>
  <h4 class="mark">ギルド</h4>
  <div class="container">
    ギルド募集等の正規表現プリセットです<br>
    <kbd>(?=.*(ギルド|攻城|ステG|GVG))^(?!.*(ギルドクエ|ギルドデイリ)).*$</kbd>
  </div>
  <br>
  <h4 class="mark">秘密</h4>
  <div class="container">
    秘密PT等の正規表現プリセットです<br>
    <kbd>(?=.*(秘密))^(?!.*(BF|メインクエ|MQ)).*$</kbd>
  </div>
  <br>
  <h4 class="mark">かけら出し</h4>
  <div class="container">
    かけら出しの正規表現プリセットです<br>
    <kbd>(?=.*(かけら|欠片|カケラ))(?=.*(飛ばし|代行|出し))^(?!.*(黒き炎|魔界|試練|神秘)).*$</kbd>
  </div>
  <br>
  <h4 class="mark">各種代行</h4>
  <div class="container">
    各種代行の正規表現プリセットです<br>
    <kbd>(?=.*代行)^(?!.*(欠片|かけら|カケラ)).*$</kbd>
  </div>
  <br>
</div>
<br>

<h3 class="mark">正規表現の組み立てツール</h3>
<div class="container">
  ストリーミング通知条件の横にあります<br>
  <button class="btn btn-primary" style="vertical-align: center; height:64px;">組み立て<span class="oi oi-wrench"></span></button>を選択することでダイアログが表示されます<br>
  <br>
  参考になるお叫び本文を始めの入力ボックスに入れ,すぐ下の入力ボックスに正規表現入れる,または組み立てます<br>
  <br>
  キーワードを<button class="btn btn-primary badge-pill btn-sm">追加</button>ボタン上の入力ボックスに入れ<button class="btn btn-primary badge-pill btn-sm" >追加</button>ボタンを押すと<p class="badge badge-primary">'必ず含む単語の条件'</p>が追記されます<br>
  キーワードを<button class="btn btn-warning badge-pill btn-sm">追加</button>ボタン上の入力ボックスに入れ<button class="btn btn-warning badge-pill btn-sm" >追加</button>ボタンを押すと<p class="badge badge-warning">'どれか1つ含む単語の条件'</p>が追記されます<br>
  キーワードを<button class="btn btn-danger badge-pill btn-sm">追加</button>ボタン上の入力ボックスに入れ<button class="btn btn-danger badge-pill btn-sm" >追加</button>ボタンを押すと<p class="badge badge-danger">'除外したい単語の条件'</p>が追記されます<br>
  <br>
  <button class="btn btn-primary badge-pill btn-sm">追加</button>,<button class="btn btn-warning badge-pill btn-sm">追加</button>,<button class="btn btn-danger badge-pill btn-sm">追加</button>の各ボタンで入れた場合は,<button class="btn btn-danger"><span class="oi oi-action-redo"></span>1つ戻す</button>で条件追加前の表示に戻ります<br>
  <br>
  <kbd>複数条件入れたい場合は<b class="text-danger">半角カンマ(,)で区切って</b></kbd>キーワードを各条件ボックスに入れて追加ボタンを押してください<br>
  <br>
  最後に<button class="btn btn-success"><span class="oi oi-wrench"></span>マッチテスト</button>ボタンで確認が出来ます<br>
  結果は右の出力結果:へ表示されます<br>
  <br>
  この正規表現で良ければ,<button class="btn btn-primary"><span class="oi oi-clipboard"></span>クリップボードにコピー</button>または,<button type="button" class="btn btn-primary" ><span class="oi oi-share-boxed"></span>通知領域へ上書き</button>
  を選択します<br>
  <br>
  各<button type="button" class="btn btn-primary badge-pill btn-sm" style="width:30px;"><span class="oi oi-delete"></span></button>ボタンは各項目毎に入力項目を初期化します<br>
  <br>
</div>
<br>

<h2 class="mark">LiveChat</h2>
<div class="container">
  右枠に表示されるのは現在接続している人でチャットできるライブチャットです<br>
  <p class="badge badge-danger">S</p>,<p class="badge badge-primary">B</p>,<p class="badge badge-warning">V</p>,<p class="badge badge-secondary">G</p>,<p class="badge badge-success">全鯖</p>の雄叫び,ストリーミングを表示している人が参加できます<br>
  各お叫びページ毎に右側がページ全体のLiveChatを表示され,現在のぱぱみらへ接続数も表示されます<br>
  100件まで保持されますが,その後は古いものから破棄されます<br>
</div>
<br>

<h2 class="mark">その他</h2>
<div class="container">
<h4 class="mark">レイアウト1(S,B,V,G鯖叫び)</h4>
<div class="container">
  "時間, 名前, 内容"<br>
  <div class="container">
    ex1:
    <kbd>2017/04/19 23:00:00 <b class="text-danger">てすとゆーざ</b> 買) 力ワーム</kbd>
  </div>
  <div class="container">
    ex2:
    <kbd>2017/04/19 23:00:00 <b class="text-primary">てすとゆーざ</b> 買) 力ワーム</kbd>
  </div>
  <div class="container">
    ex3:
    <kbd>2018/01/19 23:00:00 <b class="text-danger">てすとゆーざ</b> 売 力ワーム</kbd>
  </div>
  <b class="text-danger">赤文字</b>は<b>ワールドチャット</b><br>
  <b class="text-primary">青文字</b>は<b>通常の叫び</b><br>
</div>
<br>

<h4 class="mark">レイアウト2(全鯖叫び)</h4>
<div class="container">
  "鯖, 時間, 名前, 内容"<br>
  <div class="container">
    ex1:
    <kbd><b class="badge badge-danger">S</b> 2017/04/19 23:00:00 <b class="text-danger">てすとゆーざ</b> 買) 力ワーム</kbd>
  </div>
  <div class="container">
    ex2:
    <kbd><b class="badge badge-warning">V</b> 2017/04/19 23:00:00 <b class="text-primary">てすとゆーざ</b> 買) 力ワーム</kbd>
  </div>
  <div class="container">
    ex3:
    <kbd><b class="badge badge-primary">B</b> 2018/01/19 23:00:00 <b class="text-primary">てすとゆーざ</b> 買) 力ワーム</kbd>
  </div>
  <div class="container">
    ex4:
    <kbd><b class="badge badge-secondary">G</b> 2018/01/19 23:00:00 <b class="text-danger">てすとゆーざ</b> 売) バター</kbd>
  </div>
  <b class="text-danger">赤文字</b>は<b>ワールドチャット</b><br>
  <b class="text-primary">青文字</b>は<b>通常の叫び</b><br>
</div>
</div>
<br>

<h3 class="mark">質問,要望</h3>
<div class="container">
  外部掲示板を開きます<br>
  したらばの良さ気な板を使わせてもらっています<br>
</div>
<br>

<h3 class="mark">お問い合わせ</h3>
<div class="container">
  お問い合わせ用のフォームがあります<br>
  送信すると,ログに内容が書かれるため読み逃すことがありますので,できるだけ掲示板を活用ください<br>
  <span class="lead text-danger">注意!! サーバ管理者までしか届きません。</span><br>
</div>
<br>

<h4 class="mark">メンテナンス</h4>
<div class="container">
  動ける範囲であれば出来るだけ<br>
  メンテナンス時間に合わせていますが,ちょくちょく開発保守しています.よろぴくです
</div>
<br>

<h4 class="mark">隠し要素</h4>
<div class="container">
  ちょこちょこあります<br>
  探してみましょう!<br>
</div>

</div>
<br>

<h4 class="mark">PPAP</h4>
<div class="container">
  <img src="/png/pico-icon.png" alt="picotaro" class="image-ppap">
  「ペンパイナッポーアッポーペン」（英: Pen-Pineapple-Apple-Pen、略称：PPAP（ピーピーエーピー））は、古坂大魔王扮する「謎の千葉県出身シンガーソングライター」たるピコ太郎（ピコたろう）が、2016年（平成28年）8月25日（JST）に動画投稿サイト「YouTube」上に発表した動画作品・楽曲。<br>
  出典: ja.wikipedia.org
</div>
<br>

<h4 class="mark">赤飯</h4>
<div class="container">
  <img src="/png/sekihan_32.png" alt="sekihan" class="image-ppap">
  ハレの日の食事として用いられる他、栄養価が高い事から缶詰やフリーズドライ化された物も普及しており、非常食などとして用いられている。また、「赤飯おにぎり」「赤飯弁当」のように、一般食としてコンビニエンスストアやスーパーマーケット、駅売店で売られている事も多い<br>
  出典: ja.wikipedia.org
</div>
<br>

<h3 class="mark">管理人について</h3>
<div class="container">
  <img src="/favicon-32x32.png" alt="sekihan" class="image-ppap">
  RSをこよなく愛するがまともにプレイできる時間がないため,お叫びだけでプレイしている変わり者.
  各鯖に出没して狩りをすることもあれば,全くINしないこともしばしば.
  RSに新規,復帰者で人が増えてくれること祈っている.狩りをしないことで祈る時間が増えた.<br>
  出典: 心の中
</div>
<br>

Mon, 26 Feb 2018 11:50:48 +0900 Last Update.
<br>
Tue, 22 Nov 2016 23:49:26 +0900 first init.
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/toc.min.js"></script>
<script src="/js/help.js"></script>
