<br>
<br>
<br>
<link href="/css/ppap.css" rel="stylesheet">
<div class="container">
  <button id="info_today" class="btn btn-success btn-sm">本日</button>
  <button id="info_days" class="btn btn-success btn-sm">1日</button>
  <button id="info_3days" class="btn btn-success btn-sm">3日</button>
  <button id="info_7days" class="btn btn-success btn-sm">7日</button>
  <button id="info_14days" class="btn btn-success btn-sm">14日</button>
  <button id="info_30days" class="btn btn-success btn-sm">30日</button>
  <a href="/info_wdays" class="btn btn-success btn-sm">曜日</a>
  <a href="/info_calendar" class="btn btn-success btn-sm">カレンダ</a>
  <h1>
    <b id="server_name" class="badge badge-success"></b>
    <span class="image-ppap oi oi-pie-chart"></span>叫び統計<span id="server_range"></span>
  </h1>
  <div id="sh_loading"></div>
  <div id="sh_chartBox" style="height: 420px; width: 90%;"></div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.canvasjs.min.js"></script>
<script src="/js/info_all.js"></script>
