<br>
<br>
<br>
<link href="/css/ppap.css" rel="stylesheet">
<div class="container">
  <button id="info_wdays" class="btn btn-success btn-sm">曜日[7]</button>
  <button id="info_4wdays" class="btn btn-success btn-sm">曜日[28]</button>
  <h1>
    <b id="server_name" class="badge badge-success"></b>
    <span class="image-ppap oi oi-pie-chart"></span>叫び統計<span id="server_range"></span>
  </h1>
  <div id="sh_loading"></div>
  <div id="sh_chartBox" style="height: 420px; width: 90%;"></div>
</div>
<script src="/js/jquery.canvasjs.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/info_wdays.js"></script>
