<br>
<br>
<br>
<link href="/css/ppap.css" rel="stylesheet">
<div class="container">
  <h1>
    <b class="badge badge-success">3鯖</b><span class="image-ppap oi oi-pie-chart"></span>叫び統計
  </h1>
  <input type="text" id="datepicker" placeholder="年月日入力"/>
  <button id="cl_search" type="button" class="btn btn-success">表示</button>
  <div id="sh_loading"></div>
  <div id="sh_chartBox" style="height: 420px; width: 100%;"></div>
</div>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.ui.datepicker-ja.min.js"></script>
<script src="/js/jquery.canvasjs.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/info_calendar.js"></script>
