<br>
<br>
<br>
<link href="/css/ppap.css" rel="stylesheet">
<div class="container">
  <h1>
    <b id="server_name" class="badge"></b>
    <span class="image-ppap oi oi-pie-chart"></span>叫び統計<span id="server_range"></span>
  </h1>
  <button id="info_s" class="btn btn-danger btn-sm">S鯖</button>
  <button id="info_b" class="btn btn-primary btn-sm">B鯖</button>
  <button id="info_v" class="btn btn-warning btn-sm">V鯖</button>
  <button id="info_g" class="btn btn-secondary btn-sm">G鯖</button>
  <div id="sh_loading"></div>
  <div id="sh_chartBox" style="height: 420px; width: 100%;"></div>
</div>
<script src="/js/jquery.canvasjs.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/info.js"></script>
