<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link id="favicon" rel="icon" type="image/x-icon" href="/favicon.ico" sizes="48x48">
<link id="favicon2" rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link id="favicon3" rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/jquery-ui.min.css" rel="stylesheet">
<link href="/css/home.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<title>ぱぱみら</title>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <div class="navbar-header">
        <img class="image-ppap" src="/favicon-32x32.png" alt="pico">
      </div>
      <div class="navbar-collapse collapse">
        <a href="/">Home</a>
      </div>
    </div>
  </nav>
</header>
<script src="/js/jquery.min.js"></script>
<%= yield %>
<script src="/js/jquery.cookie.js"></script>
</body>
</html>
