<link href="/css/ranking.css" rel="stylesheet">
<br>
<br>
<br>
<div class="container">
  <h1><span class="oi oi-people"></span>ランキング</h1>
  <br>
  <div class="container">
    <p style="font-size: 42px;"><b class='badge badge-danger'>S鯖</b></p>
    <div class="container">
      <table class="table table-striped table-hover" style="border-collapse: collapse; table-layout: fixed;">
        <thead>
          <tr>
            <th>名前</th>
            <th>雄叫び回数</th>
          </tr>
        </thead>
        <tbody id="rank_result_s">
        </tbody>
      </table>
    </div>
    <p style="font-size: 42px;"><b class='badge badge-primary'>B鯖</b></p>
    <div class="container">
      <table class="table table-striped table-hover" style="border-collapse: collapse; table-layout: fixed;">
        <thead>
          <tr>
            <th>名前</th>
            <th>雄叫び回数</th>
          </tr>
        </thead>
        <tbody id="rank_result_b">
        </tbody>
      </table>
    </div>
    <p style="font-size: 42px;"><b class='badge badge-warning'>V鯖</b></p>
    <div class="container">
      <table class="table table-striped table-hover" style="border-collapse: collapse; table-layout: fixed;">
        <thead>
          <tr>
            <th>名前</th>
            <th>雄叫び回数</th>
          </tr>
        </thead>
        <tbody id="rank_result_v">
        </tbody>
      </table>
    </div>
    <p style="font-size: 42px;"><b class='badge badge-secondary'>G鯖</b></p>
    <div class="container">
      <table class="table table-striped table-hover" style="border-collapse: collapse; table-layout: fixed;">
        <thead>
          <tr>
            <th>名前</th>
            <th>雄叫び回数</th>
          </tr>
        </thead>
        <tbody id="rank_result_g">
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scrolltopcontrol.js"></script>
<script src="/js/ranking.js"></script>
