<div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th class="text-nowrap fixed">鯖</th>
        <th class="text-nowrap fixed">時間</th>
        <th class="text-nowrap fixed">名前</th>
        <th>内容</th>
<%= @body %>
      </tr>
    </thead>
  </table>
</div>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
