<br>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="card h4">
<div class="card-header text-black bg-primary text-white">過去のお知らせ、更新情報</div>
<div class="card-body">
<span class="oi oi-badge text-info"></span>タグについて<br>
<div class="container">
  <span class="oi oi-pulse text-danger"></span>: 重要<br>
  <span class="oi oi-bug text-danger"></span>: バグ<br>
  <span class="oi oi-fire text-primary"></span>: 機能<br>
  <span class="oi oi-moon text-warning"></span>: 更新<br>
</div>
<br>

<%= @release_noteold %>

</div>
</div>
<br>
<a class="btn btn-primary text-white" style="line-height:32px; width:100%; vertical-align:top;" href="/dev">更に詳しくは/devを参照</a>
<br>
<br>
</div>
</div>
</div>
<script src="/js/bootstrap.min.js"></script>
